$susy: ( output: float,
  container: 1200px,
  columns: 12,
  gutters: 0.3,
  gutter-position: after,
  global-box-sizing: border-box,
  debug: ( image: hide,
    color: $aqua-dark,
    output: overlay,
    toggle: top right,
  ),
);

$gallery-layout: layout(12 0.125 fluid float after);

$nav-layout: layout(12 0 fluid float inside);

$golden-layout: layout((1 1.618 2.618) 0.1 fluid float split);

*,
*::before,
*::after {
  box-sizing: border-box;
}

.l-region {
  @include container;
}

.l-region--branding .site-logo {
  @include span(12);

  @include breakpoint($tab) {
    @include span(6);
  }
}

.l-region--branding .block--allsearch-block {
  @include span(12);

  @include breakpoint($tab) {
    @include span(last 6);
  }
}

.l-region--branding .block--system-user-menu + .block--allsearch-block-allsearch-search {
  @include breakpoint($tab) {
    float: left;
    width: calc(49% - 100px);
  }
}


body {
  background: $black;
  margin: 0;
}

.l-page {
  background: $white;
}

.l-header,
.l-footer,
.wrapper {
  @include clearfix;

  margin: 0 auto;
}

.l-region--navigation,
.l-region--highlighted,
.l-region--highlighted,
.l-main,
.l-branding,
.l-region--footer {
  @include clearfix;

  margin: 0 auto;
  max-width: 1200px;
}

.l-region--alert,
.l-region--branding,
.l-main,
.l-content,
.l-footer,
.l-region--footer {
  padding: 1em;
}

.branch-libraries .l-content,
.services--sco .l-content {
  padding-top: 0;
}

// .l-header {
//   background: $black;
//   position: relative;
// }
