a {
  color: $black;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.pul_base_nine_three-region--first p a,
.pul_base_nine_three-region--first li a,
.three_six_three-region--middle p a,
.three_six_three-region--middle li a,
.links--decorate tbody a,
.view-mendel-microfilm tbody a,
.view-mendel-valva-sheet-music-collection tbody a,
.links--decorate li a,
.pane-node-body a,
.section-eastasian .library-news-link,
p a {
  border-bottom: 1px solid $gray;
  text-decoration: none;
  word-break: break-word;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid $orange;
    text-decoration: none;
  }

  img {
    border: 0;
    vertical-align: top;
  }
}

.links--decorate a[href*="mendel-music-library-student-manual"],
a.image {
  border: 0;

  &:hover,
  &:active,
  &:focus
  &:visited {
    border: 0;
  }
}

.pulsearch-online-access a {
  margin-right: auto;
  text-decoration: underline;

  &:hover {
    color: $blue-dark;
  }

  &::after {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgZmlsbD0ibm9uZSIgaGVpZ2h0PSIyNCIgc3Ryb2tlPSIjMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHN0cm9rZS13aWR0aD0iMiIgdmlld0JveD0iMCAwIDI0IDI0IiB3aWR0aD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE4IDEzdjZhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJWOGEyIDIgMCAwIDEgMi0yaDYiLz48cG9seWxpbmUgcG9pbnRzPSIxNSAzIDIxIDMgMjEgOSIvPjxsaW5lIHgxPSIxMCIgeDI9IjIxIiB5MT0iMTQiIHkyPSIzIi8+PC9zdmc+");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: inline-block;
    height: 12px;
    margin-left: 8px;
    position: relative;
    width: 12px;
  }
}
