a {
  color: $black;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.links--decorate tbody a,
p a {
  border-bottom: 1px solid $gray;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid $orange;
    text-decoration: none;
  }

  img {
    border: 0;
    vertical-align: top;
  }
}

.links--decorate a[href*="mendel-music-library-student-manual"] {
  border: 0;

  &:hover,
  &:active,
  &:focus
  &:visited {
    border: 0;
  }
}
