html {
  font-size: 16px;
}

body {
  color: $black;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.45em;
}

input,
textarea,
select,
button {
  font-size: 1em;
}

p {
  margin: 0 0 1.3em;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.2em;
  margin: 0 0 0.5em;
}

h1 {
  font-size: 2em;
  margin-top: 0.5em;
  text-align: center;

  @include breakpoint($tab) {
    text-align: left;
  }
}

h2 {
  font-size: 1.725em;
}

h3 {
  font-size: 1.425em;
}

h4 {
  font-size: 1.2em;
}

small,
.font-small {
  font-size: 0.833em;
}

.font-primary {
  font-family: $font-primary;
}

strong {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}
