[class^="icon-"], 
[class*=" icon-"] {
    margin-left: 0;
}

.libraries-page {
    [class^="icon-"], 
    [class*=" icon-"] {
        margin-left: 1em;
    }
    .icon-search {
        margin-left: 0;
    }
}
.library-info a {
    text-decoration: underline;
}

.view .date-nav-wrapper .date-next, .view .date-nav-wrapper .date-prev {
    [class^="icon-"], 
    [class*=" icon-"] {
        margin-left: 0;
        font-size: 2em;
    }
}

.all-full-text, .format-type, .summon-format-type, .all-format-type, .section-research, .pul_base_nine_three-region--second, .views-libraries.contextual-links-region, .view-search-libraries-and-collections, .view-general-site-user-search {
    [class^="icon-"], 
    [class*=" icon-"] {
        margin-left: 0;
        margin-right: 0.5em;
    }

    .icon-warning-sign {
        color: $orange;
    }
}

.page-staff-directory, h2 {
    [class^="icon-"], 
    [class*=" icon-"] {
        margin-left: 0;
        margin-right: .35rem;
    }
}

.page-find-all-results .results-spinner-large {
margin-top: 4em;
text-align: center;
// font-size:4em;
}

.libraries-page .views-row .library-info:nth-of-type(1) {
    
    [class^="icon-"], 
    [class*=" icon-"] {
        margin-left: 0;
    }
}

/* After Article Express Icon Hacks */

.icon-article-express--caps-after:after {
    content: "(\e612)";
}

.icon-article-express--caps-skew-after:after {
    content: "(\e613)";
}

.icon-article-express--small-skew-after:after {
    content: "(\e614)";
}

.page-node-6627 h1:after,
.page-node-13204 h1:after,
.icon-article-express--small-after:after {
    content: "(\e615)";
}

.page-node-6627 h1:after,
.page-node-13204 h1:after {
    font-family: 'pul_base_theme';
    speak: none;
    font-size: 0.75em;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


