// @import url("https://fonts.googleapis.com/css?family=Droid+Serif");

// Vendor libraries
@import "normalize";
@import "susy";
@import "breakpoint";
@import "bourbon";

// Utilities: Variables, Mixins, etc.
@import "utils/mixins";
@import "utils/functions";
@import "utils/variables";
// @import "utils/variables--bootstrap";
// @import "utils/font-stack";
@import "utils/helpers";

$base-path: "https://library.princeton.edu/sites/all/themes/pul_base/assets/public";

// Global styles
@import "base/typography";
@import "base/forms";
@import "base/grids";
@import "base/links";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/print";

// Layouts
@import "layouts/three_nine/three_nine";
@import "layouts/three_six_three/three_six_three";
@import "layouts/six_six/six_six";
@import "layouts/pul_base_nine_three/pul_base_nine_three";

// Components
@import "components/branding";
@import "components/header";
@import "components/footer";
@import "components/menus/menu--main";
@import "components/search/search--header";
@import "components/buttons/button--jump-link";

@import "sites/library/footer";

// Illiad search bar
.search-bar {
  $base-spacing: 1em;
  $base-border-color: #dcdcdc !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #477dca !default;
  $dark-gray: $black !default;
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  .f-criteria {
    background-color: $white;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  .f-submit {
    background: $blue-dark;
    @include position(absolute, 0 0 0 null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
  }
}

.button--logoff {
  margin-bottom: 1em;

  .button {
    background: $gray-lightest;
    border-radius: 3px;
    color: $gray-dark;
    display: block;
    font-weight: 500;
    margin: 0;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;

    &:hover,
    &:focus {
      background: $blue-dark;
      color: $white;
      text-decoration: none;
    }
  }
}

.ac-container {
  margin-bottom: 2em;

  input {
    display: none;

    &:checked + label,
    &:checked + label:hover {
      background: $blue-dark;
      color: $white;
    }

    &:checked ~ .ac-group {
      box-shadow: 0 0 0 1px $black-opacity-2;

      &.li-2,
      &.li-3,
      &.li-6,
      &.li-7 {
        height: auto;
      }
    }
  }

  label,
  a.nav-group:link,
  a.nav-group:visited {
    background: $blue-dark;
    border-color: transparent;
    box-shadow: 0 0 0 1px $black-opacity-2;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 0;
    padding: 15px;
    position: relative;
    width: 100%;
    z-index: 20;

    &:hover,
    &:focus {
      background: $blue-dark;
      color: $white;
      text-decoration: none;
    }
  }

  a {
    border-bottom: 1px solid $black-opacity-2;
    color: $black;
    cursor: pointer;
    display: block;
    font-size: 1em;
    padding: 1em;

    &:hover,
    &:focus {
      background: $gray-lightest;
    }
  }

  .ac-group {
    height: 0;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
}


fieldset {
  position: relative;
}

.three_nine-region--second label {
  margin: 1.5em 0;
}

.three_nine-region--second label select {
  display: block;
  margin-bottom: 0;
}

.three_nine-region--second textarea {
  margin-bottom: 0;
}

div.req {
  left: auto;
  position: absolute;
  right: 0;
  top: 0;
}

span.req {
  color: $red;
  font-weight: 500;
}

span.valid {
  font-weight: 500;
}

span.note {
  display: block;
  font-size: 95%;
}

span.note-warning {
  color: $orange;
  display: block;
  font-size: 85%;
}

.six_six-region--first label {
  font-weight: 500;
}

.nav a {
  color: $black;
}

.ill_requests .ill_request_status,
.ill_requests .ill_request_options,
.ill_requests .ill_request_number,
.ill_requests .ill_request_date,
#ill_requests #cancelled .ill_request_author,
.ill_requests .ill_request_author,
.ill_requests .ill_request_journal {
  color: $black;
}

button,
input[type="submit"],
.search-bar .f-submit {
  background: $blue-dark;
}

input[type="submit"]:hover,
.search-bar .f-submit:hover:not(:disabled) {
  background: $blue-dark;
}

.notification-table th,
.notes-table .row-headings th,
.tracking-table .row-headings th {
  background: $gray-darkest;
  color: $white;
  font-weight: 500;
  padding: 0.5em;
}

.notification-table .row-even {
  background: $gray-lightest;
}

.notification-table td,
.transaction-table td,
.notes-table td,
.tracking-table td {
  font-size: 0.875em;
  padding: 0.5em;
  vertical-align: top;
}

.notification-detail tr > td:first-child,
.transaction-table tr > td:first-child {
  font-weight: 500;
}

.notification-detail table,
.transaction-table table,
.notes-table table,
.tracking-table table {
  table-layout: auto;
}

.transaction-table table,
.notes-table table,
.tracking-table table {
  margin-top: 1em;
}

.transaction-table .row-header,
.notes-table .row-header,
.tracking-table .row-header {
  font-size: 0.85em;
}

p.record--title {
  margin: 0;
}

.statusNormal {
  display: none;
}

form {
  position: relative;
}

.req-indicator {
  clear: both;
  display: block;

  @media (min-width: 44em) {
    clear: none;
    display: inline-block;
    left: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.ill_requests {
  margin-bottom: 1em;
}

.ac-container label:hover::after,
.ac-container input:checked + label:hover::after {
  background: transparent url("../css/images/arrow_down.png") no-repeat center center;
  content: "";
  height: 24px;
  position: absolute;
  right: 13px;
  top: 12px;
  width: 24px;
}

.ac-container input:checked + label:hover::after {
  background-image: url("../css/images/arrow_up.png");
}

.statusError,
.validationError {
  color: $red;
  font-weight: 500;
}

.nav {
  border: 1px solid $gray-light;
  border-radius: 3px;
  list-style: none;
  margin-bottom: 2em;
  padding: 0;
  position: relative;
  text-align: left;
}

.nav-group {
  background: $blue-dark;
  color: $white;
  font-weight: 500;
}

.nav > li > ul > li > a:hover,
body.article-express .nav .article-express,
body.working-paper .nav .working-paper,
body.book .nav .book,
body.thesis .nav .thesis,
body.media .nav .media,
body.newspaper .nav .newspaper,
body.conference .nav .conference,
body.score .nav .score,
body.archive .nav .archive {
  background: $gray-lightest;
}

.arrow {
  float: right;
  padding: 0 10px;
}

.site-title--child {
  font-size: 2em;
  margin: 0;
}

#searchType {
  background: none;
  border: 0;
  padding: 0;
}

#searchType label {
  display: inline;
}

.row-header th {
  font-size: 1.7em;
  font-weight: normal;
  padding: 0 0 1em;
}

table {
  margin: 0;
}

.hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.six_six-region--first form {
  margin-top: 1.25em;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 1.75rem;
}

aside h2 {
  font-size: 1.75em;
  margin-top: 0;
}

section.ill_requests li:nth-child(even) {
  background: $gray-lightest;
}

label {
  font-weight: normal;
}

.logon {
  margin-bottom: 1em;
}
