@import url("https://fonts.googleapis.com/css?family=Droid+Serif");

// Vendor libraries
@import "normalize";
@import "susy";
@import "breakpoint";
@import "bourbon";

// Utilities: Variables, Mixins, etc.
@import "utils/mixins";
@import "utils/functions";
@import "utils/variables";
// @import "utils/variables--bootstrap";
// @import "utils/font-stack";
@import "utils/helpers";

$base-path: "https://library.princeton.edu/sites/all/themes/pul_base/assets/public";

// Global styles
@import "base/typography";
@import "base/forms";
@import "base/grids";
@import "base/links";
@import "base/lists";
@import "base/media";
@import "base/tables";
@import "base/print";

// Layouts
@import "layouts/three_nine/three_nine";
@import "layouts/three_six_three/three_six_three";
@import "layouts/six_six/six_six";
@import "layouts/pul_base_nine_three/pul_base_nine_three";

// Components
@import "components/branding";
@import "components/header";
@import "components/footer";
@import "components/menus/menu--main";
@import "components/search/search--header";
@import "components/buttons/button--jump-link";

body {
  background: transparent;
  min-height: 100%;
  padding: 0;
}

// line 29, pul-springy-base.scss
a,
.ui-widget-content a {
  color: $blue-dark;
  overflow-wrap: break-word;
  text-decoration: none;
}


// line 33, pul-springy-base.scss */
a:hover,
.ui-widget-content a:hover {
  -moz-transition: color 0.1s linear 0s;
  -o-transition: color 0.1s linear 0s;
  -webkit-transition: color 0.1s linear;
  -webkit-transition-delay: 0s;
  transition: color 0.1s linear 0s;
}


// line 71, pul-springy-base.scss */
h2 a {
  text-decoration: none;
}


// line 75, pul-springy-base.scss */
h3 a {
  color: $orange-dark;
  text-decoration: none;
}


// line 79, pul-springy-base.scss */
.form-control {
  height: 32px;
}


// line 82, pul-springy-base.scss */
hr {
  border-color: $gray;
}


//pul_base_styles overrides start*/
// line 87, pul-springy-base.scss */
footer h2 {
  color: $gray-darkest;
}


// line 90, pul-springy-base.scss */
footer a {
  font-weight: normal;
}


//needed to add this to make search box spacing right*/
// line 96, pul-springy-base.scss */
.form-item,
.form-action {
  margin-bottom: 1em;
}


// line 99, pul-springy-base.scss */
.l-region--branding .block--allsearch-block-allsearch-search form>div div.form-item-query input[type="text"] {
  line-height: 1.25em;
}


// line 102, pul-springy-base.scss */
.l-region--branding .block--allsearch-block-allsearch-search form>div input[type="submit"] {
  padding: 2px 10px 5px;
}


// line 105, pul-springy-base.scss */
#block-system-main-menu ul {
  padding: 0; // to align the PUL header menu to the left */
}


// line 109, pul-springy-base.scss */
footer nav ul {
  padding: 0; //to make footer flush*/
}


//pul_base_styles overrides end*/
// line 4, LG_v2.scss */
#s-lg-guide-name {
  font-size: 2em;
}


// line 10, LG_v2.scss */
#s-lib-bc .breadcrumb,
#s-lib-admin-bc .breadcrumb {
  font-size: 0.725rem;
}


// line 17, LG_v2.scss */
.s-lg-guide-info-views {
  display: none;
}


// line 24, LG_v2.scss */
#s-lg-tabs-container .nav-tabs>li>a,
#s-lg-tabs-container .nav-pills>li>a,
.nav-pills .s-lg-boxnav>li>a {
  background-color: $gray-lightest;
  border-color: $gray-light;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

// line 28, LG_v2.scss */
#s-lg-tabs-container .nav-tabs>.active>a,
#s-lg-tabs-container .nav-pills>.active>a {
  background-color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
}

// line 34, LG_v2.scss */
.s-lib-box-std .s-lib-box-title {
  background-color: $gray-lightest;
  background-image: none;
  color: $black;
  font-size: 1em;
}


// line 39, LG_v2.scss */
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  background-image: -moz-linear-gradient($orange-light, $orange);
  background-image: -o-linear-gradient($orange-light, $orange);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $orange-light), color-stop(100%, $orange));
  background-image: -webkit-linear-gradient($orange-light, $orange);
  background-image: linear-gradient($orange-light, $orange);
  color: $white;
  transition-duration: 0s;
}


//for homepage*/
// line 46, LG_v2.scss */
#s-lg-content-2935457 table {
  margin-left: 20px;
  padding: 10px 0;
  text-indent: -15px;
}


// line 51, LG_v2.scss */
#s-lib-public-header form {
  padding-top: 10px;
}


//tabs header on group homepages*/
// line 55, LG_v2.scss */
#s-lg-hp-nav {
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; //@include background-image(linear-gradient($box-gradient-top, $box-gradient-bottom));*/
  font-size: 1.1em;
  margin-bottom: 10px;
}


// line 61, LG_v2.scss */
#s-lg-hp-nav .s-lg-index-nav-btn>a:hover,
#s-lg-hp-nav .s-lg-index-nav-btn>a:focus {
  background-color: $white;
}


// line 64, LG_v2.scss */
#s-lg-hp-nav li.active>a,
#s-lg-hp-nav li.active>a:hover,
#s-lg-hp-nav li.active>a:focus {
  background-color: $blue-dark;
  color: $white;
}


//fix spacing on certain ui popups*/
// line 69, LG_v2.scss */
.ui-dialog .ui-dialog-content {
  padding: 0.5em 2em;
}


//hide guide update and view count on group homepages*/
// line 73, LG_v2.scss */
#s-lg-index-cols .s-lg-gmeta {
  display: none;
}

@media print {

  // line 77, LG_v2.scss */
  header,
  footer,
  iframe,
  #s-lib-bc,
  .s-lg-rss,
  .s-lib-profile-image,
  .noprint {
    display: none;
  } // line 80, LG_v2.scss */
  #s-lib-footer-public a[href]::after,
  #s-lg-tabs-container a[href]::after {
    content: none;
  }
}

@media (max-width: 480px) {
  .s-lib-profile-image img {
    max-width: 50%;
  }
}

@media (min-width: 481px) and (max-width: 991px) {
  .s-lib-profile-image img {
    max-width: 35%;
  }
}


//hide option for adding subjects in edit mode*/
#s-lg-guide-header-info #s-lg-guide-header-subjects {
  display: none;
}


//make library search boxes a bit bigger*/
// .pulsearch .form-control {
//   height: 34px;
//   width: 75%;
//   display: inline;
// }
// .pulsearch .btn-sm {
//   font-size: 14px;
//   margin-top: -2.5px;
// }
//hide RSS feed date*/
.s-lg-rss-date {
  display: none;
}


//hide tag and guide type filters on search results page*/
#s-lg-facet-div-guide_tag_ids,
#s-lg-facet-div-guide_type_id {
  display: none;
}


//adjust search results page filter div heights*/
#s-lg-facet-div-guide_owner_id>.s-lg-facet-div-content,
#s-lg-facet-div-group_id>.s-lg-facet-div-content {
  max-height: 500px;
}


//make search query highlights actually show up*/
.s-srch-result-highlights mark {
  background-color: $yellow-light;
}



// line 3, LG_v2_chatbutton.scss */
div.libraryh3lp>a.btn {
  -moz-box-shadow: 0 8px 6px -4px $gray-light;
  -webkit-box-shadow: 0 8px 6px -4px $gray-light;
  border-color: $gray;
  box-shadow: 0 8px 6px -4px $gray-light;
  color: $white;
}


// line 7, LG_v2_chatbutton.scss */
div.libraryh3lp>a.btn:hover {
  -moz-transition: background-color 0.1s linear 0s;
  -o-transition: background-color 0.1s linear 0s;
  -webkit-transition: background-color 0.1s linear;
  -webkit-transition-delay: 0s;
  background-color: $orange !important;
  transition: background-color 0.1s linear 0s;
}


// line 11, LG_v2_chatbutton.scss */
div.libraryh3lp>a.btn:active,
div.libraryh3lp>a.btn:focus {
  background-color: $orange !important;
}


// line 15, LG_v2_chatbutton.scss */
div.libraryh3lp>a.btn-primary {
  background-color: $white !important;
  background-image: none;
  border: $orange 5px solid;
  color: $black;
  font-size: 1em;
  font-weight: bold;
  padding: 1em;
}


// line 22, LG_v2_chatbutton.scss */
div.libraryh3lp i.fa {
  color: $black;
}


//pul_base_styles overrides end*/
// line 4, LA_v2.scss */
div.container {
  padding-left: 0;
  padding-right: 0;
}


// line 8, LA_v2.scss */
#s-la-bc .breadcrumb {
  background-image: none;
  font-size: 1em;
  padding-left: 0;
}


// line 13, LA_v2.scss */
#s-la-bc .breadcrumb a {
  font-weight: bold;
}


// line 17, LA_v2.scss */
.navbar-text,
#s-la-search-showqform,
#s-la-search-askbutton {
  display: none;
}


// line 20, LA_v2.scss */
#s-la-public-header {
  padding-bottom: 5px;
  padding-top: 0;
}

.s-la-faq-owner {
  display: none;
}


// line 23, LA_v2.scss */
.s-la-faq-listing-meta .label-topic,
.s-la-faq-topics .label-topic {
  background-color: $white;
}


// line 26, LA_v2.scss */
.label a {
  color: $blue-dark;
}


// line 28, LA_v2.scss */
.label a:hover {
  color: $blue-dark;
}


// line 31, LA_v2.scss */
.label a:active,
.label a:focus {
  color: $blue-dark;
  outline: none;
}


// begin remix
.s-lib-header {
  margin-top: 1em;
}

#s-lg-guide-search {
  height: 34px;
}

#s-lg-content-2935457 {
  h3 {
    margin-top: 1em;
  }
}

#s-lg-public-skiplink {
	top: -44px;
}
