@import "breakpoint";
@import "utils/mixins";
@import "utils/variables";

// Hide the toolbar or admin menu on small screens.
@include breakpoint($max-tab) {
  .hide-sm {
    @include visually-hidden;
  }
}

@include breakpoint($tab) {
  .show-sm {
    @include hidden;
  }
}

// scroll wide tables that overflow ltr
.view-content {
  overflow: auto;
}

// mendel sheet music header spacing
.section-music .view-header {
  margin-bottom: 1em;

  .search--description {
    margin: 1em 0;
  }

  .items-per-page {
    display: inline-block;
    float: right;

    a {
      text-decoration: underline;
    }
  }
}

// mendel sheet music facets
.facetapi-limit-link {
  font-size: 0.9em;
  text-decoration: underline;
}

// hide summary count for database nav
.summary-count {
  display: none;
}

// hide aka titles for db
.subject-landing-page .views-row .field--name-field-dboverride-database article header {
  display: none;
}

span.icon-article-express--small-after {
  font-size: 0.75em;
}

span.icon-article-express--small-after::before {
  content: " ";
}

h1.icon-article-express--small-after::after {
  font-size: 0.75em;
}

.panel-pane {
  margin-bottom: 1em;
}

.views-row {
  margin-bottom: 1em;
}

// .news--item a:hover h3 {
//   @include smart-underline(white, $black, #ffc, 91%, 2px);
//   color: $black;
//   // @include smart-underline;
// }
.alternative-database-landing-page,
.database-resource-page {
  h1 {
    margin-top: 0;
  }
}

.sticky-header {
  background: $black;
  color: $white;
}


.front .panel-display--landingpage {
  padding-top: 1em;
}

noscript {
  color: $cool-gray-10;
}

main:focus {
  outline: none;
}
