.menu--secondary {
  // margin-top: 1em;
  margin-bottom: 1em;
  position: relative;

  // @include breakpoint($tab-desk) {
  //   margin-top: 2.5em;
  // }


  br {
    display: none;
  }

  .jump-link {
    background: $gray-lightest;
    color: $black;
    display: block;
    left: 0;
    margin-bottom: 2px;
    padding: 10px;
    position: relative;
    text-decoration: none;
    top: 0;

    // width: 95%;

    @include breakpoint($tab) {
      display: none;
    }
  }

  .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include breakpoint($tab-desk) {
      display: block;
    }
  }

  .show-section-menu {
    background: $black;
    color: $white;
    display: block;
    padding: 10px;
    text-align: left;

    // width: 95%;

    @include breakpoint($tab-desk) {
      display: none;
    }
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
}
