.three_six_three-region--first,
.three_six_three_stacked-region--first,
.three_nine-region--first,
.three_nine_stacked-region--first,
.three_three_three_three_stacked-region--first {
  ul.menu li {
    a {
      background: $gray-lightest;
      color: $black;
      display: block;
      font-size: 1.4em;
      font-weight: 500;
      margin: 0;
      padding: 0.5em;
    }

    a.active,
    &.expanded a.active {
      background: $black;
      color: $white;
    }

    &.expanded {
      background: $gray-lightest;
      border-radius: $base-border-radius;

      // a {
      //   color: $black;
      // }
    }

    .menu {
      margin-bottom: 0;
    }
  }

  ul.menu > li > a {
    font-size: 1.15rem;
  }

  ul.menu > li > ul > li > a {
    font-size: $font-size-base;
    padding-left: 2em;
  }

  ul.menu > li > ul > li > ul > li > a {
    padding-left: 4em;
  }
}
