.l-branding nav ul {
  $navigation-padding: 1em;
  $navigation-background: $gray-darkest;
  $navigation-color: transparentize($white, 0.3);
  $navigation-color-hover: $white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $gray-darkest;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize($white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $desk;

  float: left;
  margin: 5px 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
// scss-lint:disable SelectorDepth
    a {
      border-radius: $base-border-radius;
      color: $white;
      display: inline;
      float: right;
      font-weight: 800;
      margin-top: 0.6em;
      padding: 0.4em 0.5em;

      @include breakpoint($desk) {
        padding: 0.5em 1em;
      }


      &:hover {
        background: lighten($gray-darkest, 10);
      }
    }
  }
}

.front .l-branding nav ul,
.page-find-all .l-branding nav ul {
  float: right;
}
