.l-header {
  overflow: visible;
}

.wrapper--navigation {
  $centered-navigation-padding: 1em;
  $centered-navigation-logo-height: 2em;
  $centered-navigation-background: $black;
  $centered-navigation-color: $white;
  $centered-navigation-color-hover: $orange;
  $centered-navigation-height: 50px;
  $centered-navigation-item-padding: 1em;
  $centered-navigation-submenu-padding: 1em;
  $centered-navigation-submenu-width: 15em;
  $centered-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $desk;

  background-color: $centered-navigation-background;
  border-bottom: 5px solid $orange;
  font-family: $font-primary;
  font-size: 1.1rem;
  height: $centered-navigation-height;
  overflow: visible;
  position: relative;
  width: 100%;
  z-index: 101;

  .mobile-logo {
    display: inline;
    float: left;
    max-height: $centered-navigation-height;
    padding-left: $centered-navigation-padding;

    @include breakpoint($horizontal-bar-mode) {
      display: none;
    }


    img {
      max-height: $centered-navigation-height;
      opacity: 0.6;
      padding: 0.8em 0;
    }
  }

  .centered-navigation-menu-button {
    color: $centered-navigation-color;
    display: block;
    float: left;
    font-weight: bold;
    line-height: $centered-navigation-height;
    margin: 0;
    padding-left: $centered-navigation-submenu-padding;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($horizontal-bar-mode) {
      display: none;
    }


    &:hover {
      color: $centered-navigation-color-hover;
    }
  }

  .l-region--navigation {
    overflow: visible;
  }

  .centered-navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding-left: 0;
    width: 100%;
    z-index: 999; //5
    @include breakpoint($horizontal-bar-mode) {
      display: block;
      text-align: left;
    }


    @include breakpoint($desk) {
      padding-left: 0;
    }

    >.menu {
      text-align: center;
    }
  }

  .centered-navigation-menu>ul>li {
    background: $centered-navigation-background;
    display: block;
    line-height: $centered-navigation-height;
    overflow: hidden;
    padding-left: $centered-navigation-submenu-padding;
    text-align: left;
    width: 100%;
    z-index: 99; //4
    @include breakpoint($horizontal-bar-mode) {
      background: transparent;
      display: inline;
      line-height: $centered-navigation-height;
      padding-left: 0;

      &.show-sm {
        display: none;
      }

      &:nth-child(-n+4) {
        border-right: 1px solid $white;
      }

      a {
        padding-left: $centered-navigation-item-padding;
      }
    }

    a {
      color: $centered-navigation-color;
      display: inline-block;

      @include breakpoint($max-tab) {
        width: 100%;
      }

      &:hover,
      &:focus {
        color: $centered-navigation-color-hover;
        text-decoration: underline;
      }
    }

    &.expanded>.ask-us {
      color: $orange;
      font-family: $font-primary;
      line-height: 50px;

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2024%2024%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22%23e87411%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M23.5%2C0h-23c-0.276%2C0%20-0.5%2C0.224%20-0.5%2C0.5v16c0%2C0.276%200.224%2C0.5%200.5%2C0.5h6.5v3.5c0%2C0.444%200.54%2C0.668%200.853%2C0.354l3.854%2C-3.854h11.793c0.276%2C0%200.5%2C-0.224%200.5%2C-0.5v-16c0%2C-0.276%20-0.224%2C-0.5%20-0.5%2C-0.5Z%22%20transform%3D%22translate%280%2C%201%29%22%3E%3C/path%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M0%2C0h24v24h-24Z%22%3E%3C/path%3E%0A%3C/svg%3E");
        // background-size: contain;
        color: $orange;
        content: "";
        display: inline-block;
        height: 18px;
        margin-right: 0.5em;
        text-decoration: none;
        vertical-align: middle;
        width: 18px;
      }

      &::after {
        color: $orange;
        // right: 0.85em;
      }

      &:hover,
      &:focus {
        color: $white;

        &::after {
          color: $white;
        }
      }
    }
  }

  .menu-more-link {
    border-top: 1px solid $gray-darkest;
    font-style: italic;

    a::after {
      content: "...";
    }
  }

  .centered-navigation-menu>ul>li.expanded {
    padding-right: 0;

    @include breakpoint($desk) {
      padding-right: $centered-navigation-submenu-padding;
    }


    >a {
      padding-right: 1.75em;
    }

    >a::after {
      @include position(absolute, auto 0.45em auto auto);

      color: $centered-navigation-color;

      @include breakpoint(800px) {
        content: "\25BE";
      }
    }
  }

  li.expanded {
    overflow: visible;
    padding-right: 0;

    @include breakpoint(800px) {
      padding-right: $centered-navigation-submenu-padding;
      position: relative;

      &:hover>.menu,
      &:focus-within>.menu {
        cursor: pointer;
        display: block;

        @include breakpoint(max-width 800px) {
          display: none;
        }
      }
    }

    a {
      padding-right: $centered-navigation-submenu-padding;
    }

    >a {
      padding-right: 1.6em;
      position: relative;
      // @include breakpoint($desk) {
      // margin-right: $centered-navigation-submenu-padding;
      // }

      &::after {
        font-size: $font-size-larger;
        position: absolute;
        right: $centered-navigation-submenu-padding / 2;
      }
    }
  }

  li>ul.menu {
    display: none;
    padding-left: 0;

    @include breakpoint($horizontal-bar-mode) {
      background: $black;
      left: -2em;
      margin-left: 2em;
      position: absolute;
      top: 34px;
    }


    .menu {
      @include breakpoint($horizontal-bar-mode) {
        left: $centered-navigation-submenu-width - 0.2em;
        top: 0;
      }
    }

    li {
      display: block;
      padding-right: 0;

      @include breakpoint($horizontal-bar-mode) {
        line-height: $centered-navigation-height / 1.3;
      }


      a {
        background-color: lighten($centered-navigation-background, 3);
        display: inline-block;
        font-size: 1rem;
        text-align: left;
        width: 100%;

        @include breakpoint($horizontal-bar-mode) {
          background-color: $centered-navigation-background;
          padding-left: $centered-navigation-submenu-padding;
          text-align: left;
          width: $centered-navigation-submenu-width;
        }

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}
