.three_six_three-region--first,
.three_six_three_stacked-region--first,
.three_nine-region--first,
.three_nine_stacked-region--first,
.three_three_three_three_stacked-region--first {
  .panel-pane > ul.menu {
    margin-top: 1.75em;
  }

  ul.menu li {
    a {
      display: block;
      font-size: 1.4em;
      margin: 0;
      padding: 0.5em;
    }

    a.active,
    &.expanded a.active {
      background: $blue-dark;
      color: $white;
    }

    &.expanded {
      background: $gray-lightest;
      border-radius: 4px;

      a {
        color: $blue-dark;
      }
    }
  }

  ul.menu > li > a {
    font-size: 1.15rem;
  }
// scss-lint:disable SelectorDepth
  ul.menu > li > ul > li > a {
    font-size: $font-size-base;
    padding-left: 1em;
  }

  // refactor
  // scss-lint:disable SelectorDepth
  ul.menu > li > ul > li > ul > li > a {
    padding-left: 4em;
  }
}
