.block--polite-alert {
  background: $gray-lightest-opacity-9;
  bottom: 0;
  padding: 2rem;
  position: fixed;
  width: 100%;
  z-index: 999;

  .block__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
  }

  .polite-alert-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    width: calc(100% - 100px);
  }

  .polite-alert-msg {
    flex: 1;
    padding-right: 1rem;
  }

  .polite-alert-action {
    margin-left: auto;
  }

  .polite-alert-action a,
  .polite-alert-close {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .polite-alert-action a {
    background: $mudd;
    border-radius: $slight-border-radius;
  }

  .polite-alert-close {
    float: none;
  }
}

.polite-alert-visible {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceInUp;
}

.polite-alert-dismissed {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: bounceOutDown;
}

@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d(0, 10px, 0);
  }

  90% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }

  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
