.alert--message {
  padding-top: 1em;
}

.alert--level {
  &__info {
    background: $blue-light;
  }

  &__warning {
    background: $yellow-light;
  }

  &__emergency {
    background: $red;
    color: $white;

    a {
      border-bottom-color: $white;
      color: $white;
    }
  }
}

.messages--warning,
.messages-error {
  background: $yellow-light;
}

.l-content .alert--message,
.messages--warning,
.messages-error {
  border: 0;
  border-radius: $base-border-radius;
  margin: 1em 0;
  padding: 1em;

  > a {
    border-bottom: 1px solid $gray;
    color: $black;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      border-bottom-color: $orange;
      text-decoration: none;
    }
  }

  p:empty {
    display: none;
  }

  p {
    margin-bottom: 0;
  }
}

.messages--warning,
.l-content .alert--message {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: flash;
}
