.front .four_five_three_stacked-region--top {
  margin: 0;
}

.front .four_five_three_stacked-region--top h2 {
  @include visually-hidden;
}

.three_six_three_stacked-region--middle .alert--message {
  margin-top: 2.5em;
}

.messages--warning,
.alert--message,
.messages-error {
  background: $orange;
  border: 0;
  border-radius: 4px;
  color: $white;
  margin: 1em 0 0;
  padding: 1em;

  a {
    color: $white;
    text-decoration: underline;
  }

  h3 a,
  p {
    color: $white;
  }

  h3 {
    color: $white;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-weight: bold;
    margin-bottom: 0;

    a {
      color: $white;
      text-decoration: underline;
    }

    &:empty {
      display: none;
    }
  }

  i {
    color: $white;
    margin-right: 0.5em;
  }
}

.page-node-27043 .messages--warning {
  border-radius: 0;
  display: block;
  margin-top: 0;
  position: absolute;
  width: 1200px;
  z-index: 10;
}

.alert--level__info {
  background: $blue-dark;

  p,
  h3 a {
    color: $white;
  }
}

.alert--level__warning {
  background: $yellow-light;

  p,
  h3 a,
  p a {
    color: $black;
  }
}

.messages--warning,
.alert--message {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: flash;
}
