.pul_base_four_four_four_stacked-region h2,
.five_four_three_stacked-region h2,
.pul_base_nine_three-region h2,
.nine_three_stacked-region h2,
.three_six_three-region h2,
.three_six_three_stacked-region h2 {
  font-size: 1.5em;
}

.pul_base_four_four_four_stacked-region h3,
.five_four_three_stacked-region h3,
.pul_base_nine_three-region h3,
.nine_three_stacked-region h3,
.three_six_three-region h3,
.three_six_three_stacked-region h3 {
  font-size: 1.3em;
}

.pul_base_four_four_four_stacked-region h4,
.five_four_three_stacked-region h4,
.pul_base_nine_three-region h4,
.nine_three_stacked-region h4,
.three_six_three-region h4,
.three_six_three_stacked-region h4 {
  font-size: 1em;
}
