//breadcrumbs - we turned off breadcrumbs in drupal
.breadcrumb {
  @include clearfix;
  margin-top: 1em;
}

.breadcrumb {
  $breadcrumb-border-color: $white;
  $breadcrumb-border: 1px solid $breadcrumb-border-color;
  $breadcrumb-height: $base-line-height;
  $breadcrumb-arrow-color: $breadcrumb-border-color;
  $breadcrumb-background: darken($gray-lightest, 6);
  $breadcrumb-inactive-hover-color: $breadcrumb-background;
  $breadcrumb-color: $black;
  $breadcrumb-color-hover: $gray-darkest;
  $breadcrumb-color-active: $breadcrumb-color;

  li {
    // @include inline-block;
    display: inline-block;
    margin-bottom: $base-line-height;
    position: relative;
    text-align: left;

    &:after,
    &:before {
      @include position(absolute, 0 auto 0 100%);
      border-bottom: ($breadcrumb-height / 2) solid transparent;
      border-left: ($breadcrumb-height / 4) solid transparent;
      border-top: ($breadcrumb-height / 2) solid transparent;
      content: "";
      display: block;
      margin: auto;
      z-index: 2;
    }

    &:last-child:after,
    &:last-child:before {
      border: 0;
    }

    &:before {
      border-left-color: $breadcrumb-arrow-color;
      margin-left: 1px;
      z-index: 1;
    }

    &:after {
      border-left-color: $breadcrumb-background;
    }
  }

  a {
    // @include inline-block;
    background-color: $breadcrumb-background;
    border: $breadcrumb-border;
    color: $breadcrumb-color;
    display: inline-block;
    font-size: $font-size-smaller;
    line-height: $breadcrumb-height;
    margin-right: -5px;
    padding: 0 ($breadcrumb-height / 4) 0 ($breadcrumb-height / 2);
    position: relative;
    text-decoration: none;

    &:first-child {
      border-bottom-left-radius: $base-border-radius;
      border-top-left-radius: $base-border-radius;
      padding-left: $breadcrumb-height / 2;
    }

    &:last-child {
      background-color: $breadcrumb-background;
      border-bottom-right-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      color: $breadcrumb-color-active;
      padding-right: $breadcrumb-height / 2;
    }

    &:hover {
      background-color: $breadcrumb-inactive-hover-color;
      color: $breadcrumb-color-hover;
    }

    &:hover:after {
      border-left-color: $breadcrumb-inactive-hover-color;
    }
  }
}
