.l-footer {
  background-color: $black;
  border-top: 5px solid $orange;
  font-size: $font-size-smaller;
}

.l-region--footer {
  clear: both;

  @media screen and (min-width: 425px) and (max-width: 750px) {
    display: flex;
    flex-wrap: wrap;

    .block {
      width: 48%;
    }
  }

  .block {
    margin-bottom: 1.5rem;
  }

  address,
  .footer--copyright,
  a {
    color: $white;
    font-style: normal;
  }

  .footer--copyright {
    margin-top: 0.5em;
  }

  h2,
  h2 a {
    color: $white;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.75em;

    &:hover {
      text-decoration: none;
    }
  }

  .leaf {
    list-style: none;

    a {
      line-height: 1.75em;

      &:hover {
        color: $white;
      }
    }
  }
}

// SVG logo
.svg {
  .facebook-logo img,
  .instagram-logo img,
  .twitter-logo img,
  .govdocs-logo img,
  .friends-logo img,
  .pu-logo img {
    display: none;
  }

  .facebook-logo,
  .instagram-logo,
  .twitter-logo,
  .govdocs-logo,
  .friends-logo,
  .pu-logo {
    background-size: contain;
    display: inline-block;
    height: 24px;
    line-height: 11px;

    @include breakpoint($tab) {
      margin-left: 0.5em;
    }

    &::before {
      content: " ";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .footer--icons {
    margin-top: 1em;

    li {
      float: left;
    }
  }

  .facebook-logo {
    background-image: url("#{$base-path}/images/logo-facebook-white.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .instagram-logo {
    background-image: url("#{$base-path}/images/logo-instagram.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .twitter-logo {
    background-image: url("#{$base-path}/images/logo-twitter-bird-white.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .govdocs-logo {
    background-image: url("#{$base-path}/images/govdocs.svg");
    margin: 0 0.2em 0.75em;
    width: 24px;
  }

  .friends-logo {
    background-image: url("#{$base-path}/images/friends.svg");
    margin: 0 0.2em 0.75em;
    width: 85px;
  }

  .pu-logo {
    background-image: url("#{$base-path}/images/logo-white.svg");
    height: 40px;
    margin: 0.5em 0 0;
    width: 141px;
  }
}
