.front {
  .pane-menu-menu-get-help-menu h2.pane-title {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .pane-menu-menu-get-help-menu a {
    color: $blue-dark;
    font-size: 1.15em;

    .button--libraryh3lp__online {
      color: $black;
    }

    .button--libraryh3lp__offline {
      color: $gray-dark;
    }
  }
}
