.front .view-library-news .view-content {
  margin-bottom: 0;
}

.front .view-library-news .view-footer {
  @include breakpoint($tab) {
    text-align: center;
  }
}

.views-more-link.library-news-link {
  width: 100%;

  @include breakpoint($tab) {
    width: auto;
  }
}
