.front {
  h2.pane-title {
    font-size: 2em;
    text-align: center;
  }

  .library-hours-link {
    width: 100%;

    &.views-more-link {
      @include breakpoint($tab) {
        float: left;
        width: auto;
      }
    }
  }
}
