@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes icon-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@keyframes load5 {
  0%,
  100% {
    box-shadow: 0 -2.6em 0 0 $black, 1.8em -1.8em 0 0 $black-opacity-2, 2.5em 0 0 0 $black-opacity-2, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-2, -1.8em 1.8em 0 0 $black-opacity-2, -2.6em 0 0 0 $black-opacity-5, -1.8em -1.8em 0 0 $black-opacity-7;
  }

  12.5% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-7, 1.8em -1.8em 0 0 $black, 2.5em 0 0 0 $black-opacity-2, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-2, -1.8em 1.8em 0 0 $black-opacity-2, -2.6em 0 0 0 $black-opacity-2, -1.8em -1.8em 0 0 $black-opacity-5;
  }

  25% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-5, 1.8em -1.8em 0 0 $black-opacity-7, 2.5em 0 0 0 $black, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-2, -1.8em 1.8em 0 0 $black-opacity-2, -2.6em 0 0 0 $black-opacity-2, -1.8em -1.8em 0 0 $black-opacity-2;
  }

  37.5% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-2, 1.8em -1.8em 0 0 $black-opacity-5, 2.5em 0 0 0 $black-opacity-7, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-2, -1.8em 1.8em 0 0 $black-opacity-2, -2.6em 0 0 0 $black-opacity-2, -1.8em -1.8em 0 0 $black-opacity-2;
  }

  50% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-2, 1.8em -1.8em 0 0 $black-opacity-2, 2.5em 0 0 0 $black-opacity-5, 1.75em 1.75em 0 0 $black-opacity-7, 0 2.5em 0 0 $black, -1.8em 1.8em 0 0 $black-opacity-2, -2.6em 0 0 0 $black-opacity-2, -1.8em -1.8em 0 0 $black-opacity-2;
  }

  62.5% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-2, 1.8em -1.8em 0 0 $black-opacity-2, 2.5em 0 0 0 $black-opacity-2, 1.75em 1.75em 0 0 $black-opacity-5, 0 2.5em 0 0 $black-opacity-7, -1.8em 1.8em 0 0 $black, -2.6em 0 0 0 $black-opacity-2, -1.8em -1.8em 0 0 $black-opacity-2;
  }

  75% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-2, 1.8em -1.8em 0 0 $black-opacity-2, 2.5em 0 0 0 $black-opacity-2, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-5, -1.8em 1.8em 0 0 $black-opacity-7, -2.6em 0 0 0 $black, -1.8em -1.8em 0 0 $black-opacity-2;
  }

  87.5% {
    box-shadow: 0 -2.6em 0 0 $black-opacity-2, 1.8em -1.8em 0 0 $black-opacity-2, 2.5em 0 0 0 $black-opacity-2, 1.75em 1.75em 0 0 $black-opacity-2, 0 2.5em 0 0 $black-opacity-2, -1.8em 1.8em 0 0 $black-opacity-5, -2.6em 0 0 0 $black-opacity-7, -1.8em -1.8em 0 0 $black;
  }
}

@keyframes pulse {
  0% {
    background-color: $gray-lightest;
  }

  25% {
    background-color: $yellow-light;
  }

  50 {
    background-color: $gray-lightest;
  }

  75% {
    background-color: $yellow-light;
  }
}
