.field--name-field-news-letter-volume,
.field--name-field-news-letter-issue {
  display: inline;
}

.field--name-field-news-letter-pdf {
  margin: 1em 0;
}

.views-table caption .field__item {
  font-size: $font-size-large;
  font-family: $font-serif;
  margin-bottom: 0.5em;
}
