.personal-librarian {
  clear: both;
  overflow: hidden;

  &--contact {
    @include span(full);

    text-align: center;

    @include breakpoint($tab) {
      text-align: left;
    }
  }

  &--about {
    @include span(full);
  }

  .user--picture {
    float: left;
  }

  .user--name {
    font-size: 1.2em;
  }

  .user--title {
    font-size: 1.1em;
    margin-bottom: 0;
  }

  .user--department {
    margin-bottom: 0.5em;
  }

  .user--phone,
  .user--fun_fact {
    margin-bottom: 1em;
  }

  .user--building {
    margin-bottom: 0;

    &::after {
      clear: none;
    }
  }

  .user--appointment a {
    @include button(flat, $black);

    &:hover:not(:disabled),
    &:focus {
      background-color: $orange;
    }
  }

  @include breakpoint($tab) {
    &--about .statement {
      margin-top: 0;
    }
  }

  .views-label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
}


// gallery
.personal-librarians {
  clear: both;

  ul {
    margin-left: initial;
  }

  .librarian {
    @include gallery(4);

    margin-bottom: 1em;
    padding: 0.5em;
    text-align: center;

    @include breakpoint($tab) {
      @include gallery(3);
    }

    @include breakpoint($desk) {
      @include gallery(2);
    }
  }

  .user--name {
    margin-bottom: 0;
  }
}

.personal-librarian-coordinator,
.pane-user-profile-panel-pane-2,
.pane-menu-menu-personal-librarian-menu {
  clear: both;
}
