.section-research-data .single-region--top .pane-branch-library-image-panel-pane-1,
.section-research-data .three_nine_stacked-region--top .pane-branch-library-image-panel-pane-1,
.section-research-data .view-branch-library-image .view-content {
  margin-bottom: 0;
}

.prdssearch-block-form label {
  @include visually-hidden;
}

.section-research-data .single-region--top,
.section-research-data .three_nine_stacked-region--top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .menu--secondary {
    margin-bottom: 0;
    width: 100%;

    @include breakpoint($tab-desk) {
      width: 65%;
    }
  }

  .pane-prdssearch-block-prdssearch-search {
    width: 100%;

    @include breakpoint($tab-desk) {
      width: 35%;
    }
  }
}

.section-research-data .menu--secondary {
  ul {
    background: $orange-light;  
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    @include breakpoint($tab) {
      border: 2px solid $black;
      display: flex;
    }
  }

  .menu a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    width: 100%;

    @include breakpoint($tab) {
      align-items: flex-start;
      width: initial;
    }

    &:hover,
    &:focus,
    &.active-trail {
      background: $gray-lightest;
    }
  }
}

.section-research-data .prdssearch-block-form>div {
  margin: 0;

  input[type="text"] {
    border: 2px solid $black;

    @include breakpoint($tab-desk) {
      border-left: 0;
    }
  }

  button {
    border-bottom: 2px solid $black;
    border-right: 2px solid $black;
    border-top: 2px solid $black;
  }

  div.form-item-query input[type="text"],
  button {
    background: $white;
    border-radius: initial;
    height: 59px;
  }

  button::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-1 -1 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-width='3' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156L23.5 23.5'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/svg%3E");
  }

  button:hover,
  button:focus {
    background-color: none;
  }
}

.prds--stages {
  background: $gray-lightest;
  display: flex;

  @media screen and (max-width: $tab-desk) {
    flex-wrap: wrap;
  }

  .prds--stage {
    flex: 1;

    @media screen and (max-width: $tab-desk) {
      flex-basis: 50%;
    }

    @media screen and (max-width: $tab) {
      flex-basis: 100%;
    }

    p {
      display: flex;
      justify-content: center;
    }
  }

  h2 {
    background: $gray-light;
    border-bottom: $border-solid $border-med $black;
    border-top: $border-solid $border-med $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90px;
    padding: 0.25em;
    text-align: center;
  }

  ul {
    margin-bottom: 0;
    padding: 1em;

    ul {
      padding: 0;
    }

    li {
      margin-bottom: 0.75em;
    }
  }

  .more {
    display: inline-block;
    font-family: $font-primary;

    &::after {
      content: ">";
      padding-left: 0.45em;
    }
  }
}
