$pseudo-phprefix: "::-webkit-input-placeholder" ":-moz-placeholder" ":-ms-input-placeholder" "::placeholder";
 
$ph-styles: (
  font-style: normal,
  font-weight: normal,
  letter-spacing : normal,
  line-height: normal,
  text-align: inherit,
  text-decoration: inherit,
  padding: 0
);
 
@mixin placeholder-theme($styles) {
  @each $pseudo in $pseudo-phprefix {
 
    @at-root #{&}#{$pseudo} {
      @each $key, $value in $styles {
        #{$key}: #{$value};
      }
    }
 
  }
}
 
@mixin placeholder {
  @each $pseudo in $pseudo-phprefix {
 
    @at-root #{&}#{$pseudo} {
      @content
    }
 
  }
}