.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-friends { background-image: url('png/friends.png'); background-repeat: no-repeat; }

.icon-govdocs { background-image: url('png/govdocs.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-move-up { background-image: url('png/move-up.png'); background-repeat: no-repeat; }

.icon-pu { background-image: url('png/pu.png'); background-repeat: no-repeat; }

.icon-twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

