/*******************************************************************************
 * three_nine.layout.scss
 *
 * Styling of the 6-6 column layout..
 ******************************************************************************/
.panel-display--six_six {
  *zoom: 1;
}
.panel-display--six_six:after {
  content: "";
  display: table;
  clear: both;
}

.six_six-region {
  margin-bottom: 18px;
}

@media (min-width: 44em) {
  .six_six_stacked-region--top {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .six_six_stacked-region--first {
    width: 48.27586%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
    margin-left: 0;
  }

  .six_six_stacked-region--second {
    width: 48.27586%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-right: 0;
  }

  .six_six_stacked-region--bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-left: 0;
    clear: both;
  }
}
