# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.ssh/*
drush/librarymain.aliases.drushrc.php
*.sql

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignores capistrano log
log/
