# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
# ignore tarballs
*.tar
# ignore zip files
*.zip
# ignore eclipse system files
.settings/*
.project
