/*******************************************************************************
 * three_nine.layout.scss
 *
 * Styling of the 3-9 column layout..
 ******************************************************************************/

.panel-display--three_nine {
  @include clearfix;
}

.three_nine-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .three_nine-region--first {
    @include grid-span(3,1);
    margin-left: 0;
  }
   .three_nine-region--second {
    @include grid-span(9,4);
    margin-right: 0;
  }

}
