@media all and (max-width: 800px) {
  .logged-in .toolbar {
    display: none;
  }

  html body.toolbar, html body.admin-menu {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
.float-left {
  float: left;
}

.summary-count {
  display: none;
}

.subject-landing-page .views-row .field--name-field-dboverride-database article header {
  display: none;
}

span.icon-article-express--small-after {
  font-size: .75em;
}

span.icon-article-express--small-after:before {
  content: " ";
}

h1.icon-article-express--small-after:after {
  font-size: .75em;
}

.single-day .no-entry.future:after {
  content: 'TBA';
}
