/*******************************************************************************
 * three_three_three_three.layout.scss
 *
 * Styling of the "PUL" 3-3-3-3 column layout..
 ******************************************************************************/

.panel-display--three_three_three_three {
  @include clearfix;
}

.three_three_three_three-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .three_three_three_three_stacked-region--first {
    @include grid-span(3,1);
    clear: both;
    margin-left: 0;
    margin-right: 2.22%;
  }
   .three_three_three_three_stacked-region--second {
    @include grid-span(3,4);
    margin: 0 2.22%;
  }

  .three_three_three_three_stacked-region--third {
    @include grid-span(3,7);
    margin: 0 2.22%;
  }

  .three_three_three_three_stacked-region--fourth {
    @include grid-span(3,10);
    margin-left: 2.22%;
    margin-right: 0;
  }

}
