/*******************************************************************************
 * six_six.layout.scss
 *
 * Styling of the 6-6 column layout..
 ******************************************************************************/

.panel-display--six_six {
  @include clearfix;
}

.six_six-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .six_six-region--first {
    @include grid-span(6,1);
    clear:both;
    margin-left: 0;
  }
   .six_six-region--second {
    @include grid-span(6,7);
    margin-right: 0;
  }

}
