/*******************************************************************************
 * nine_three_stacked.layout.scss
 *
 * Styling of the "PUL" 9-3-stacked column layout..
 ******************************************************************************/

.panel-display--nine_three_stacked {
  @include clearfix;
}

.nine_three_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .nine_three_stacked-region--top {
    @include grid-span(12,1, $gutter: 0);
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .nine_three_stacked-region--first {
    @include grid-span(9,1);
    clear: both;
    margin-left: 0;
  }
   .nine_three_stacked-region--second {
    @include grid-span(3,10);
  }

  .nine_three_stacked-region--bottom {
    @include grid-span(12,1, $gutter: 0);
    clear: both;
    margin-right: 0;
  }

}
