/*******************************************************************************
 * nine_three_stacked.layout.scss
 *
 * Styling of the "PUL" 9-3-stacked column layout..
 ******************************************************************************/

@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "../../variables/grids";

.panel-display--nine_three_stacked {
  @include pie-clearfix;
}

.nine_three_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($desk) {

  .three_six_three_stacked-region--top {
    @include grid-span(12,1);
    margin-left: 0;
  }

  .nine_three_stacked-region--first {
    @include grid-span(9,1);
    margin-left: 0;
  }
   .nine_three_stacked-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

  .three_six_three_stacked-region--bottom {
    @include grid-span(12,1);
    margin-left: 0;
  }

}
