// Vertical centering
// Usage: @include vertical-align();

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

// Clearfix
// Usage: @include clearfix;

@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

// Hide content visually. still visible to screen readers
// @include visually-hidden;

@mixin visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide visually and hide from screen reader
// @include hidden;

@mixin hidden {
  display: none;
  visibility: hidden;
}

// PUL Icons
@mixin pul-icon {
  display: inline-block;
  font-family: "pul_base_theme";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

// Word wrap
@mixin word-wrap {
  hyphens: auto;
  word-break: break-word;
}

// Placeholder
$pseudo-phprefix: "::-webkit-input-placeholder" ":-moz-placeholder" ":-ms-input-placeholder" "::placeholder";

$ph-styles: (
  font-style: normal,
  font-weight: normal,
  letter-spacing : normal,
  line-height: normal,
  text-align: inherit,
  text-decoration: inherit,
  padding: 0
);

// @mixin placeholder-theme($styles) {
//   @each $pseudo in $pseudo-phprefix {

//     @at-root #{&}#{$pseudo} {
//       @each $key, $value in $styles {
//         #{$key}: #{$value};
//       }
//     }

//   }
// }

// @mixin placeholder {
//   @each $pseudo in $pseudo-phprefix {

//     @at-root #{&}#{$pseudo} {
//       @content
//     }

//   }
// }
