.libraryh3lp {
    .button--libraryh3lp {
        margin-left: 1em;
        font-size: $font-size-smaller * .8;
        font-family: $font-serif;
        font-style: italic;
        font-weight: bold;
        border: none;
        text-shadow: none;
        padding: 0 7px;
        text-decoration: none;
        @include border-radius(3px);
        position: relative;
        top: -2px;
        display: inline-block;
    }
} 

.button--libraryh3lp__online {
    background-color: $yellow-lighter;
    color: $black;

    &:hover {
        background: $yellow; // darker background on hover
        color: $black;
    }
}

.button--libraryh3lp__offline {
    background: $gray-lightest;
    color: $gray-darker;
}