// readmore collections
.links--inline li {
    float: right;
}

.views-more-link, 
.node-readmore a, 
.more-link a {
    font-family: $font-serif;
    font-style: italic;
    font-weight: bold;
    font-size: $font-size-smaller;
    border: none;
    text-shadow: none;
    background-color: $gray-lightest;
    color: $orange-darkest;
    padding: 1em;
    text-decoration: none;
    @include border-radius(3px);

    float: none;
    display: block;
    text-align: center;

    @include breakpoint($tab) {
        float: right;
        display: inline;
        padding: 3px 7px;
    }
    &:visited {
        color: $orange-darkest;
        background-color: $gray-lightest;
    }
    &:hover, &:active {
        color: $white;
        background-color: $orange-darker;
    }
}

.more-link a {
    float: none;
}