// for stokes special buttons
.button--external-link {
    padding: 3px 7px;
    border-radius: 3px;
    color: $white;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: $blue-darkest; //#2762ae;
}