// readmore collections
.links--inline li {
    float: right;
}

.views-more-link, 
.node-readmore a, 
.more-link a {
    font-family: $font-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 0.875rem;
    border: none;
    text-shadow: none;
    background-color: $gray-lightest;
    color: $orange-darkest;
    padding: 1em;
    text-decoration: none;
    border-radius: 3px;

    float: none;
    display: block;
    text-align: center;

    @include breakpoint($tab) {
        float: right;
        display: inline;
        padding: 3px 7px;
    }
    &:visited {
        color: $orange-darkest;
        background-color: $gray-lightest;
    }
    &:hover, &:active {
        color: $white;
        background-color: $orange;
        text-decoration: none;
    }
}

.page-find-all .more-link a {
    background-color: $gray-lightest;
    color: $orange-darkest;
    float: none;
    display: inline-block;
    width: 100%;

    &:after {
        margin-left: .5em;
        content: "\e625";
        @include pul-icon;
    }

    @include breakpoint($tab) {
        float: right;
        font-size: 1em;
        margin-bottom: 1em;  
        background-color: $white;
        color: $orange-darkest;
        width: auto;

            &:hover {
                background-color: $orange;
                color: $white;
            }
    }
}