.libraryh3lp {
    .button--libraryh3lp {
        margin-left: 1em;
        font-family: $font-serif;
        font-style: italic;
        font-weight: bold;
        border: none;
        text-shadow: none;
        padding: 3px 7px;
        text-decoration: none;
        border-radius: 3px;
        position: relative;
        top: -2px;
        display: inline-block;
        font-size: 0.75rem;
    }
} 

.button--libraryh3lp__online {
    background-color: $yellow-lighter;
    color: $black;

    &:hover {
         background: darken($yellow-lighter, 7%);
     }
}

.button--libraryh3lp__offline {
    background: $gray-lightest;
    color: $gray-darker;
    
    &:hover {
        background: darken($gray-lightest, 7%);
    }
}