// main search box external link buttons

.block--quicktabs .homepage-tab-form-message a,
.pane-quicktabs-mendel-search-tabs .homepage-tab-form-message a {
    // font-family: $font-sans;
    font-weight: bold;
    // font-size: $font-size-smaller;
    border: none;
    text-shadow: none;
    background-color: $gray-dark;
    color: $white;
    padding: 3px 7px;
    text-decoration: none;
    border-radius: 3px;
}