.front .l-region--branding .block--allsearch-block-allsearch-search {
  display: none;

  @include breakpoint($tab) {
    display: block;
  }
}

.l-region--branding {
  .block--search-form,
  .block--allsearch-block {

    @include breakpoint($tab) {
      padding: 25px 0;
    }

    form {
      height: 40px;
      position: relative;
    }

    form>div {
      $search-bar-border-color: $base-border-color;
      $search-bar-border: 1px solid $search-bar-border-color;
      $search-bar-background: lighten($search-bar-border-color, 10);

      @include vertical-align;

      display: inline-block;
      margin-top: 0;
      width: 100%;

      input {
        box-sizing: border-box;
        display: inline-block;
      }

      label {
        @include visually-hidden;

        color: $white;

        .form-required {
          color: $white;
        }
      }

      div.form-item-query,
      div.form-item {
        margin: 0;
        position: relative;

        input[type="text"] {
          background: $white;
          border: darken($black, 15);
          border-radius: $slight-border-radius;
          color: $black;
          font-size: $font-size-smaller;
          font-style: italic;
          height: 40px;
          margin: 0;
          padding: 10px 20px;
          width: 100%;
        }
      }

      input[type="submit"] {
        display: none;
      }

      button {
        background: $white;
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $slight-border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: $slight-border-radius;
        color: $black;
        font-weight: normal;
        height: 40px;
        outline: none;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0;

        .icon-search {
          font-size: 1.2em;
        }
      }
    }
  }
}
