.page-find,
.section-research,
.section-resource,
.section-research-data,
.branch-libraries {
  .dbsearch-block-form,
  .summon-block-form,
  .allsearch-block-form,
  .allsearch-block-form--2,
  .website-block-form,
  .prdssearch-block-form {
    > div {
      display: inline-block;
      margin-top: 0.9em;
      position: relative;
      width: 100%;

      input {
        box-sizing: border-box;
        display: inline-block;
      }

      div.form-item-query {
        position: relative;

        label {
          @include visually-hidden;
        }

        input[type="text"] {
          height: 35px;
          margin: 0;
          width: 100%;
        }
      }

      input[type="submit"] {
        @include hidden;
      }

      button {
        background-color: $black;
        border: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        color: $white;
        font-weight: normal;
        height: 35px;
        padding: 5px 10px;
        position: absolute;
        right: 0;
        top: 0;

        &::before {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='-1 -1 24 24'%3E%3Cg fill='none' stroke='%23FFF' stroke-width='3' stroke-linejoin='round' stroke-miterlimit='10'%3E%3Ccircle cx='8.5' cy='8.5' r='8'/%3E%3Cpath stroke-linecap='round' d='M14.156 14.156L23.5 23.5'/%3E%3C/g%3E%3Cg%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3C/g%3E%3C/svg%3E");
          background-size: contain;
          content: "";
          display: inline-block;
          height: 19px;
          text-decoration: none;
          vertical-align: middle;
          width: 19px;
        }

        &:hover,
        &:focus {
          background-color: $orange;
        }
      }
    }
  }
}

//buttons
.section-resource .dbsearch-block-form > div button,
.section-resource .summon-block-form > div button {
  .icon-search {
    margin-right: 0;
  }

  .hide-sm {
    @include visually-hidden;
  }
}

.pane-dbsearch-block-dbsearch-search {
  margin-bottom: 1em;
}
