@include placeholder { 
  color: darken($gray-light, 10);
}
 
input {
  @include placeholder-theme($ph-styles);
}

// Slide out on focus
input:focus::-webkit-input-placeholder
 {
  transition: text-indent 0.5s 1s ease; 
  text-indent: -100%;
  opacity: 1;
}

// Fix firefox placeholder positioning
input::-moz-placeholder {
	line-height: 2.4em;
}