/*******************************************************************************
 * pul_base_four_four_four_stacked.layout.scss
 *
 * Styling of the "PUL" 9-3 column layout..
 ******************************************************************************/

.panel-display--pul_base_four_four_four_stacked {
  @include clearfix;
}

.pul_base_four_four_four_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .pul_base_four_four_four_stacked-region--top {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .pul_base_four_four_four_stacked-region--first {
    @include grid-span(4,1);
    clear: both;
    margin-left: 0;
    margin-right: 2.5%;
  }
   .pul_base_four_four_four_stacked-region--second {
    @include grid-span(4,5);
    margin: 0 2.5%;
  }

  .pul_base_four_four_four_stacked-region--third {
    @include grid-span(4,9);
    margin-left: 2.5%;
    margin-right: 0;
  }

  .pul_base_four_four_four_stacked-region--bottom {
    @include grid-span(12,1);
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

}
