.hours--today {
  .media {
    border: $border-thin $border-solid $border-light;
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    margin-bottom: 1em;
    text-decoration: none;

    &:nth-of-type(1) .media--figure {
      background: $architecture;
    }

    &:nth-of-type(3) .media--figure {
      background: $eastasian;
    }

    &:nth-of-type(4) .media--figure {
      background: $engineering;
    }

    &:nth-of-type(5) .media--figure {
      background: $firestone;
    }

    &:nth-of-type(6) .media--figure {
      background: $lewis;
    }

    &:nth-of-type(7) .media--figure {
      background: $marquand;
    }

    &:nth-of-type(8) .media--figure {
      background: $music;
    }

    &:nth-of-type(10) .media--figure {
      background: $plasma;
    }

    &:nth-of-type(12) .media--figure {
      background: $stokes;
    }
  }

  .media--figure {
    float: left;
    height: 55px;
    width: 55px;
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .media--figure img {
    border-bottom-right-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    display: inline-block;
    height: 55px;
    width: 50px;
    visibility: hidden;
  }

  .media--body {
    color: $black;
    font-size: 1em;
    padding: 5px;

    h3 {
      font-size: 1.1em;
      font-weight: 500;
      margin: 0;
    }
  }
}

.is-Open {
  display: none;
}

.hours-Closed {
  display: none;
}
