// for stokes special buttons
.button--external-link {
  background-color: $blue-dark;
  border-radius: $base-border-radius;
  color: $white;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 3px 7px;
}
