.jump-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  left: 0;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: -99px;
  white-space: nowrap;
  width: 1px;
}

.jump-link:focus {
  background: $black;
  clip: auto;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  margin: 0;
  padding: 15px 23px 14px;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: auto;
  z-index: 5;
}

.cd-top.cd-is-visible {
  opacity: 1;
  visibility: visible;
}

.cd-top.cd-fade-out {
  opacity: 0.5;
}

.cd-top {
  background: $white-opacity-7 url("#{$base-path}/images/move-up.svg") no-repeat center 50%;
  // border: $border-thin $border-solid $border-light;
  bottom: 0;
  // box-shadow: 0 0 10px $black-opacity-5;
  display: inline-block;
  height: 40px;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  text-indent: 100%;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  visibility: hidden;
  white-space: nowrap;
  width: 40px;

  @media only screen and (min-width: 1024px) {
    height: 60px;
    width: 60px;
  }
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.no-touch .cd-top:hover {
  background-color: $white;
  opacity: 1;
}
