// readmore collections
.links--inline li {
  float: right;
}

.more-link {
  color: $black;
  font-size: 0.875em;

  &::after {
    content: ">";
    padding-left: 0.45em;
  }
}

.front .views-more-link {
  background-color: $black;
  border: 0;
  border-radius: $base-border-radius;
  color: $white;
  display: inline-block;
  float: none;
  font-family: $font-primary;
  font-size: 1em;
  font-style: italic;
  font-weight: 500;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;

  @include breakpoint($tab) {
    padding: 7px 15px;
    width: auto;
  }

  &:visited {
    background-color: $black;
    color: $white;
  }

  &:hover,
  &:active {
    background-color: $orange;
    color: $white;
    text-decoration: none;
  }
}

.page-find-all .more-link {
  &::after {
    content: initial;
    padding-left: inherit;
  }

  a {
    background-color: $gray-lightest;
    color: $orange-dark;
    display: inline-block;
    float: none;
    padding: 0.5em;
    width: 100%;

    @include breakpoint($tab) {
      background-color: $white;
      color: $black;
      float: right;
      font-size: 1em;
      margin-bottom: 1em;
      width: auto;

      &:hover {
        background: $orange;
        border-radius: $slight-border-radius;
        color: $white;
        text-decoration: none;
      }
    }

    &::after {
      @include pul-icon;

      content: "\e909";
      margin-left: 0.5em;
    }
  }
}
