// online resources for alumni
.section-alumni {
  .button--connect a {
    @include button(simple, lighten($orange, 5));

    color: $white;
    display: inline-block;
    font-family: $font-sans;
    font-size: 0.6em;
    margin-left: 1em;
  }
}
