//db resource button

.field--name-field-ip-db-resource-url,
.field--name-field-db-access-url.pul-processed,
.field--name-field-cas-db-resource-url {
  text-align: center;
}

.field--name-field-ip-db-resource-url a,
.field--name-field-db-access-url.pul-processed a,
.field--name-field-cas-db-resource-url a {
  @include button(simple, lighten($orange, 5));

  color: $white;
  margin-bottom: 0.5em;
}
