.button--appointment {
  clear: both;

  a {
    @include button(flat, $black);

    color: $white;

    &:hover:not(:disabled) {
      background-color: $orange;
    }
  }
}

#mysched_0 {
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  color: #333333;
  font: 14px Arial, Helvetica, Verdana;
  padding: 8px 20px;
  cursor: pointer;
}
#mysched_0:hover, #mysched_0:active, #mysched_0:focus {
  opacity: 0.9;
}
