/*******************************************************************************
 * five_four_three_stacked.layout.scss
 *
 * Styling of the "PUL" 5-4-3 stacked column layout..
 ******************************************************************************/
.panel-display--five_four_three_stacked {
  *zoom: 1;
}
.panel-display--five_four_three_stacked:after {
  content: "";
  display: table;
  clear: both;
}

.five_four_three_stacked-region {
  margin-bottom: 20px;
}

@media (min-width: 1250px) {
  .five_four_three_stacked-region--top {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
  }

  .five_four_three_stacked-region--first {
    width: 40.67797%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }

  .five_four_three_stacked-region--second {
    width: 32.20339%;
    float: left;
    margin-right: -100%;
    margin-left: 42.37288%;
    clear: none;
  }

  .five_four_three_stacked-region--third {
    width: 23.72881%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .five_four_three_stacked-region--bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
  }
}
