/*******************************************************************************
 * five_four_three_stacked.layout.scss
 *
 * Styling of the "PUL" 5-4-3 stacked column layout..
 ******************************************************************************/
/*
// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$desk : 1250px;
*/
.panel-display--five_four_three_stacked {
  *zoom: 1;
}
.panel-display--five_four_three_stacked:after {
  content: "";
  display: table;
  clear: both;
}

.five_four_three_stacked-region {
  margin-bottom: 18px;
}

@media (min-width: 44em) {
  .five_four_three_stacked-region--top {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    margin-top: 0;
  }

  .five_four_three_stacked-region--first {
    width: 39.65517%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
    margin-left: 0;
  }

  .five_four_three_stacked-region--second {
    width: 31.03448%;
    float: left;
    margin-right: -100%;
    margin-left: 43.10345%;
    clear: none;
  }

  .five_four_three_stacked-region--third {
    width: 22.41379%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    margin-right: 0;
  }

  .five_four_three_stacked-region--bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
  }
}
