/*******************************************************************************
 * landingpage.layout.scss
 *
 * Styling of the "Landing Page" 3 column layout..
 ******************************************************************************/
.panel-display--landingpage {
  *zoom: 1;
}
.panel-display--landingpage:after {
  content: "";
  display: table;
  clear: both;
}

.landingpage-region {
  margin-bottom: 18px;
}

@media (min-width: 70em) {
  .landingpage-region--first {
    width: 74.13793%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 3.44828%;
    clear: both;
    margin-left: 0;
  }

  .landingpage-region--second {
    width: 22.41379%;
    clear: right;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }

  .landingpage-region--third {
    width: 31.03448%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 3.44828%;
    clear: both;
    margin-left: 0;
  }

  .landingpage-region--fourth {
    width: 39.65517%;
    clear: right;
    float: left;
    margin-right: 3.44828%;
  }

  .landingpage-region--fifth {
    width: 22.41379%;
    clear: right;
    float: right;
    margin-right: 0;
    margin-right: 0;
  }
}
