/*******************************************************************************
 * three_nine_stacked.layout.scss
 *
 * Styling of the 3-9 stacked column layout..
 ******************************************************************************/

.panel-display--three_nine_stacked {
  @include clearfix;
}

@include breakpoint($tab) {
  .three_nine_stacked-region--top {
    @include full;
  }

  .three_nine_stacked-region--first {
    @include span(first 3);
  }

  .three_nine_stacked-region--second {
    @include span(last 9);
  }

  .three_nine_stacked-region--bottom {
    @include full;
  }
}
