/*******************************************************************************
 * three_nine_stacked.layout.scss
 *
 * Styling of the 3-9 stacked column layout..
 ******************************************************************************/

.panel-display--three_nine_stacked {
  @include clearfix;
}

.three_nine_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .three_nine_stacked-region--top {
    @include grid-span(12,1, $gutter: 0);
    margin-left: 0;
    clear:both;
  }

  .three_nine_stacked-region--first {
    @include grid-span(3,1);
    margin-left: 0;
    clear: both;
  }
   .three_nine_stacked-region--second {
    @include grid-span(9,4);
    margin-right: 0;
  }

  .three_nine_stacked-region--bottom {
    @include grid-span(12,1, $gutter: 0);
    margin-left: 0;
    clear:both;
  }

}
