$font-serif: "Droid Serif", Georgia, Times, serif !default;
$font-sans: "Dejavu Sans", "Arial Unicode MS", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif !default;
$font-mono: "Lucida Console", Monaco, monospace !default;
$text-color: $black !default;

$sans-serif: $font-serif;


$base-font-color: $black;
$base-border-color: $black;
$base-font-size: 14px;
$base-line-height: 23px;
$base-border-radius: 4px;

$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit.

$font-size-base: 1rem;
$font-size-smaller: 0.875rem;
$font-size-larger: 1.2rem;