.block--quicktabs {
	margin: 0 auto;
	float: none;

	@include breakpoint($tab-desk) {
		margin: 1.5em 0;
		float: left;
	}

	h2 {
		margin: 0;
		display: none;
	}

	.quicktabs-tabs {
		padding: 0;
	}
	.quicktabs-tabs li.active {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.quicktabs-tabs {
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(0);
		@include border-bottom-left-radius(0);
		background: $gray-dark;
		padding: 0;
		border: none;
	}

	.quicktabs_main {
		@include border-bottom-radius(4px);
		background: darken($gray-light, 3);
		font-size: $font-size-base;
		padding: 1em 1.4em;
		clear: both;
	}
	.quicktabs-tabs > li {
		margin: 0;
		top: 0;
		clear: none;
		width: 25%;
		border: none;
		text-align: center;
		display: inline-block;
		float: left;

		&:first-child a {
	    	@include border-top-left-radius(4px);
	    }
	    &:last-child a {
	    	@include border-top-right-radius(4px);
	    }
	}
	ul.quicktabs-tabs li {
		padding: 0;
		margin: 0;
	}
	.quicktabs-tabs li a {
		width: 100%;
		background: $gray-dark;
		color: $white;
		font-family: $font-sans;
		border-right: 1px solid darken($gray-light, 50%);
		text-align: center;
		padding: 0.4em;
		margin: 0;
		display: inline-block;

		&:hover {
	      background: lighten(#494f57, 10);
	    }

	    &:active {
	    	@include transition (all 0,2s ease-in-out);
	    }
	    &:focus {
	    	background: lighten(#494f57, 10);
	    }
	}
	.quicktabs-tabs li.active a {
		background: darken($gray-light, 3);
		color: black;
	}

	.quicktabs-tabs li:last-child a {
		border-right: none;
	}

	.quicktabs-tabs li.ui-state-active a, 
	.ui-widget-header .ui-state-active {
		background: darken($gray-light, 2%);
		color: black;
	}

	.form-item-query label {
		@include visually-hidden();
	}
	.form-type-textfield {
		margin-bottom: 0;
	}
	input:focus {
		border-color: $orange-light;
		box-shadow: inset 0 1px 3px rgba(0,0,0, 0.06), 0 0 3px rgba($orange, 0.7);
		outline: none;
	}
	.block__content {
		overflow: auto;
	}
	.form-item-query {
		overflow: auto;
		display: inline;
	}
	input[type="text"] {
		float: left;
		width: 85%;
		height: 45px;
		padding: 5px 10px 5px 10px;
		margin: 0.8em 0;
		display: block;
		border: 1px solid #737373;
		font-family: $font-sans;
		@include border-radius(4px);
	}
	.quicktabs_main input[type="submit"] {
		font-family: $font-sans;
		height: 45px;
		width: 15%;
		padding: 0;
		margin: 0.8em 0 0 -7px;
		clear: none;
		float: left;
		border: 1px solid #737373;
		background: $orange;
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
		@include border-top-left-radius(0);
		@include border-bottom-left-radius(0);
	}

	.homepage-tab-form-message {
		margin: 0.4em 0;

		a {
			font-size: $font-size-smaller;
		}
	}
}