.block--quicktabs {
	margin: 1.5em 0;

	h2 {
		margin: 0;
		display: none;
	}

	.ui-tabs {
		padding: 0;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.ui-widget-header {
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(0);
		@include border-bottom-left-radius(0);
		background: $gray-dark;
		padding: 0;
		border: none;
	}

	.quicktabs-ui-wrapper.qt-ui-tabs-processed-processed.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
		@include border-radius(4px);
		background: darken($gray-light, 3);
		font-size: $font-size-base;
	}
	.ui-tabs .ui-tabs-nav li {
		margin: 0;
		border-bottom: 1px dotted $gray-light;
		top: 0;
		clear: both;
		width: 100%;

		@include breakpoint($tab) {
			clear: none;
			width: 25%;
			border: none;
			text-align: center;
		}

		&:first-child a {
	    	@include border-top-left-radius(4px);
	    }
	    &:last-child a {
	    	@include border-top-right-radius(4px);
	    }
	}
	.ui-tabs .ui-tabs-nav li a {
		width: 100%;
		text-align: left;
		background: $gray-dark;
		border-right: none;
		color: $white;
		font-family: $font-sans;

		@include breakpoint($tab) {
			border-right: 1px solid darken($gray-light, 50%);
			text-align: center;
		}

		&:hover {
	      background: lighten(#494f57, 10);
	    }

	    &:active {
	    	@include transition (all 0,2s ease-in-out);
	    }
	}

	.ui-tabs .ui-tabs-nav li:last-child a {
		border-right: none;
	}

	.ui-tabs .ui-tabs-nav li.ui-state-active a, 
	.ui-widget-header .ui-state-active {
		background: darken($gray-light, 2%);
		color: black;
	}

	.form-item-query label {
		display: none;
	}
	.form-type-textfield {
		margin-bottom: 0;
	}
	input:focus {
		border-color: $orange-light;
		box-shadow: inset 0 1px 3px rgba(0,0,0, 0.06), 0 0 3px rgba($orange, 0.7);
		outline: none;
	}
	.block__content {
		overflow: auto;
	}
	.form-item-query {
		overflow: auto;
		display: inline;
	}
	input[type="text"] {
		float: left;
		width: 85%;
		height: 45px;
		padding: 5px 0 5px 10px;
		margin: 0.8em 0;
		display: block;
		border: 1px solid #737373;
		font-family: $font-sans;
		@include border-radius(4px);
	}
	.ui-tabs-panel input[type="submit"] {
		font-family: $font-sans;
		height: 45px;
		width: 15%;
		padding: 0;
		margin: 0.8em 0 0 -7px;
		clear: none;
		float: left;
		border: 1px solid #737373;
		background: $orange;
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
		@include border-top-left-radius(0);
		@include border-bottom-left-radius(0);
	}

	.homepage-tab-form-message {
		margin: 0.4em 0;

		a {
			font-size: $font-size-smaller;
		}
	}
}