.block--quicktabs, .pane-quicktabs-mendel-search-tabs {
	margin: 0 auto;

	h2 {
		margin: 0;
		display: none;
	}

	.quicktabs-tabs {
		padding: 0;
	}
	.quicktabs-tabs li.active {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.quicktabs-tabs {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		background: $gray-dark;
		padding: 0;
		border: none;
	}

	.quicktabs_main {
		border-bottom-radius: 4px;
		background: darken($gray-light, 3);
		font-size: $font-size-base;
		padding: 1em 1.4em;
		clear: both;
		border-bottom-left-radius: em(4);
		border-bottom-right-radius: em(4);
	}
	.quicktabs-tabs > li {
		margin: 0;
		padding: 0;
		top: 0;
		clear: none;
		width: 25%;
		border: none;
		text-align: center;
		display: inline-block;
		float: left;

		a {
			width: calc(100% - 1px);
			background: $gray-dark;
			color: $white;
			font-family: $font-sans;
			border-right: 1px solid darken($gray-light, 50%);
			text-align: center;
			padding: 0.4em 0;
			margin: 0;
			display: inline-block;

			&:hover {
		      background: lighten(#494f57, 10);
		    }

		    &:active {
		    	@include transition (all 0,2s ease-in-out);
		    }
		    &:focus {
		    	background: lighten(#494f57, 10);
		    }
		}

		&:first-child a {
	    	border-top-left-radius: 4px;
	    }
	    &:last-child a {
	    	border-top-right-radius: 4px;
	    	border-right: none;
	    	width: 100%;

	    }
	}
	.quicktabs-tabs li.active a {
		background: darken($gray-light, 3);
		color: $black;
	}

	.quicktabs-tabs li.ui-state-active a,
	.ui-widget-header .ui-state-active {
		background: darken($gray-light, 2%);
		color: $black;
	}

	.form-item-query label {
		@include visually-hidden();
	}
	.form-type-textfield {
		margin-bottom: 0;
	}
	.block__content {
		overflow: auto;
	}
	.form-item-query {
		overflow: auto;
		display: inline;
	}
	input[type="text"] {
		float: left;
		width: 85%;
		height: 45px;
		padding: 5px 10px 5px 10px;
		margin: 0.8em 0;
		display: block;
		border: 1px solid #737373;
		font-family: $font-sans;
		border-radius: 4px;

		&:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.quicktabs_main input[type="submit"] {
		@include hidden();
	}
	.quicktabs_main button {
		font-family: $font-sans;
		height: 45px;
		width: 15%;
		padding: 0;
		margin: 0.8em 0 0 -7px;
		clear: none;
		float: left;
		border: 1px solid #737373;
		background: $orange;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		.icon-search .strong {
			font-family: $font-sans;
		}
	}

	.homepage-tab-form-message {
		margin: 0.4em 0;

		a {
			font-size: $font-size-smaller;
		}
	}
}

.pane-quicktabs-mendel-search-tabs .quicktabs-tabs {
	margin-left: 0;

	> li {
		width: 33.33%;
	}
}

.pane-quicktabs-mendel-search-tabs h2 {
	display: block;
	margin-bottom: 1em;
}