.page-node-7796 .pane-summon-block-summon-search {
    background: $gray-light;
    padding: 0 1em;
    border-top-radius: 4px;
    h2 {
        margin-bottom: 0;
    }
}
.stokes-btn {
    background: $gray-light;
    padding: 0 1em 0.75em;
    border-bottom-radius: 4px;
    a {
        font-weight: bold;
        font-size: 0.75rem;
        border: none;
        text-shadow: none;
        background: $gray-darker;
        color: $white;
        padding: 3px 7px;
        text-decoration: none;
        border-radius: 3px;
        &:hover {
            background: $orange;
        }
    }
}
