.front .l-region--branding .block--allsearch-block-allsearch-search {
    display: none;

    @include breakpoint($tab) {
        display: block;
    }
}

.l-region--branding {
    @include grid-span(12);
    display: block;
    margin: 0 auto;

    @include breakpoint($tab) {
    	@include grid-span(6,7);
    	margin-right: 0;
    }

    .block--search-form,
    .block--allsearch-block {
    	@include grid-span(12);
		float:none;

		form {
			position: relative;
			height: 50px;
		}

		form > div {
		  $search-bar-border-color: $base-border-color;
		  $search-bar-border: 1px solid $search-bar-border-color;
		  $search-bar-background: lighten($search-bar-border-color, 10);

		  display: inline-block;
		  width: 100%;
		  margin-top: 0;
		  @include vertical-align();

		  input {
		    box-sizing: border-box;
		    display: inline-block;
		    border: 1px #1a1f25 solid;
		  }

		  div.form-item-query, div.form-item {
		    position: relative;

		    label {
		    	@include visually-hidden();
		    	color: $white;

		    	.form-required {
		    		color: $white;
		    	}
		    }

		    input[type=text] {
		      width: 100%;
		      height: 28px;
		      padding: .5em .8em;
		      font-size: $font-size-smaller;
		      font-style: italic;
		      border-radius: em(4);
		      margin: 0;
		      background: lighten($gray-dark, 10);
		      border: darken($gray-dark, 15);
		      color: $gray-lighter;

		      &:focus {
				background: $white;
				color: $black;
		      }
		    }

		  }

		  input[type=submit] {
		  	display:none;
		  }
		  button {
		      background: darken($gray-darkest, 15);
		      position: absolute;
		      right: 0;
		      top: 0;
		      outline: none;
		      padding: 5px 10px;
		      height: 28px;
		      font-weight: normal;
		      color: $gray-lighter;
		      border-top-left-radius: 0;
		      border-bottom-left-radius: 0;
		  }
		}

		@include breakpoint($tab) {
			@include grid-span(9,4);
		}
    }

}