.page-find, 
.section-research, 
.section-resource, 
.branch-libraries {

  .dbsearch-block-form,
  .summon-block-form,
  // .music-audio-block-form,
  // .music-score-block-form,
  // .music-video-block-form,
  .allsearch-block-form, 
  .website-block-form {

   > div {
      $search-bar-border-color: $base-border-color;
      $search-bar-border: 1px solid $search-bar-border-color;
      $search-bar-background: lighten($search-bar-border-color, 10);

      position: relative; 
      display: inline-block;
      margin-top:0.9em;
      width: 100%;

      input {
        @include box-sizing(border-box);
        display: inline-block;
      }

      div.form-item-query {
        position: relative;

        label {
            @include visually-hidden();
        }

        input[type=text] {
          width: 100%;
          height: 35px;
          margin: 0;

          &:focus {
            border-color: $orange-lighter;
            box-shadow: none;
          }
        }
      
      }

      input[type=submit] {
          position: absolute;
          right: 0;
          top: 0;
          padding: 5px 10px;
          height: 35px;
          font-weight: normal;
          background-color: $gray-darker;
          color: $white;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &:hover, &:focus {
            background-color: $orange;
          }
      }
    }
  }
}