.all-search-results-list,
.view-search-libraries-and-collections,
.view-databases-keyword-search ul,
.view-general-site-keyword-search ul,
.view-general-site-user-search ul {

    margin-bottom: 1em;

    li.even, li.views-row-even {
        background: none;
        border-top: 1px solid #ddd;
    }
    li.odd, li.views-row-odd {
        background: $gray-light;
    }
    li {
        padding: 1em;
    }
    li.active {
        background: none;
    }

    h3 {
        font-family: $font-sans;
        margin-top: 0;
    }
}

.pul_base_four_four_four_stacked-region--first,
.pul_base_four_four_four_stacked-region--second,
.pul_base_four_four_four_stacked-region--third {
    li {
        clear: both;
    }

    > ul > li + li {
        border-top: 1px dotted #BFBFBF;
        margin-top: 1.5em;
        padding-top: 1em;
    }
    .refine-link {
        margin-bottom: 0.5em;
    }
    .see-also-link {
        font-family: $sans-serif;
        font-size: 1rem;
        margin: 0.5em 0;
        clear: both;
    }
}

.page-find-all {
    .results-section {
        margin-top: 1em;
    }
    .results-section br {
        display: none;
    }
    .result-section-menu {
        list-style-type:none;
        margin: 0;
        padding:0;
        display: none;

        @include breakpoint($tab-desk){
            display: block;
        }

        li {
            width: 100%;
            margin-bottom: 2px;

            @include breakpoint($tab-desk){
                display:inline-block;
                float: left;
                margin-right: 0.5em;
                width: auto;
            }

            a {
                display:block;
                color: $gray-darkest;
                background: $gray-lightest;
                text-decoration: none;
                padding: 7px 16px;
                // width: 100%;


                &:before {
                    margin-right: 0.35rem;
                }

                &:hover {
                    background: $orange;
                    color: $white;
                }
            }
        }
    }

    .show-result-section-menu {
        display: block;
        text-align: center;
        color: $white;
        background: $gray-darker;
        padding: 10px 0;
        width: 100%;

        &:after {
            margin-left: .5em;
            content: "\e609";
            @include pul-icon;
        }

        @include breakpoint($tab-desk){
            display: none;
        }
    }
    input[type=checkbox]{
        display: none;
    }
    input[type=checkbox]:checked ~ .result-section-menu {
        display: block;
    }
}

.page-find-all .back2top {
    display: inline-block;
}

.page-find-all .l-main h2 a,
.pane-summon-block-summon-guide-results h2 a {
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: $orange-darker;
        cursor: pointer;
    }
}

.page-find-all h2 [class^="icon-"],
.page-find-all h2 [class*=" icon-"] {
    margin-right: 0.5em;
}