.front .wrapper--highlighted {
  background: $highlighted-wrapper;
  background-size: 1600px auto;
  padding: 0;
  position: relative;

  @include breakpoint($tab) {
    background: url("/sites/all/themes/pul_base/assets/public/images/studying-firestone.jpg") center center no-repeat;
    // background-position-y: -30px;
    background-size: cover;
    height: 350px;
  }

  @include breakpoint($tab-desk) {
    height: 430px; //430px; or 50vh;
    // max-width: 1680px;

    // mask for hero image

    // &::before {
    //   background: linear-gradient(to right, $black 0%, transparent 49%, $black 100%);
    //   content: "";
    //   height: 100%;
    //   left: 0;
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    // }
  }

  // @include breakpoint($desk) {
  //   height: 55vh;
  // }

  .l-region--highlighted {
    padding: 1em;
    position: relative;

    @include breakpoint($tab) {
      padding: 3em 0;
    }
  }
}

// .l-header {
//   background: $black;
// }
