.strong {
  font-weight: bold;
}

.hide {
  @include visually-hidden;
}

.float-left {
  float: left;
}

.pull-right {
  float: right;
}

// hide empty p tags (drupal messy markup hack)
p:empty {
  display: none;
}

.logged-in .hide__logged-in {
  display: none;
}
