/*******************************************************************************
 * six_six_stacked.layout.scss
 *
 * Styling of the 6-6 column layout..
 ******************************************************************************/

.panel-display--six_six {
  @include clearfix;
}

.six_six-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .six_six_stacked-region--top {
    @include grid-span(12, $gutter: 0);
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .six_six_stacked-region--first {
    @include grid-span(6,1);
    clear:both;
    margin-left: 0;
  }
   .six_six_stacked-region--second {
    @include grid-span(6,7);
    margin-right: 0;
  }

  .six_six_stacked-region--bottom {
    @include grid-span(12,1, $gutter: 0);
    margin-left: 0;
    clear:both;
  }
}
