//alumni news

.alumni-landing-page .view-id-library_news,
.student-landing-page .view-id-library_news,
.faculty-landing-page .view-id-library_news,
.visitors-page .view-id-library_news {

  li {
    border: $border-thin $border-solid $border-light;
  }

  .views-row-1 {
    @include full;
    @include breakpoint($bp-small) {
      @include span(4 of 12);
      clear: none;
      margin-left: 0;
    }
  }

  .views-row-2 {
    @include full;

    @include breakpoint($bp-small) {
      @include span(4 of 12);
      clear: none;
    }
  }

  .views-row-3 {
    @include full;

    @include breakpoint($bp-small) {
      @include span(4 of 12);
      clear: none;
      margin-right: 0;
    }
  }

  .views-field-title {
    clear: both;
    padding: 0 1em;
  }

  .field--name-field-news-featured-graphic img {
    margin-bottom: 1em;
  }

  .field--name-field-news-article-snippet {
    clear: both;
  }
}
