.three_six_three_stacked-region--middle .view-library-news,
.pul_base_nine_three-region--first {
  .item-list > ul {
    margin: 0;
  }

  img {
    float: left;
    margin-right: 1em;
  }

  .item-list > ul > li {
    @include clearfix;
  }
}

.views-field-created {
  color: $gray-dark;
  font-style: italic;
  margin-bottom: 1em;
}

.view-library-news .field--name-field-news-featured-graphic img,
.view-library-news img,
.view-libcal-events .views-row img {
  float: left;
  margin: 0 1.75em 1.167em 0;
}

.view-library-news .views-row {
  padding-bottom: 2em;
}

.item-list li {
  list-style: none;
}

.page-news .pul_base_nine_three-region--first ul,
.page-taxonomy .pul_base_nine_three-region--first ul {
  margin-left: 0;
}

.news--full-story .library-news-link {
  display: inline-block;
  margin-bottom: 1em;
}
