.panel-display--landingpage {
  @include clearfix;
}

@include breakpoint($tab) {
  .landingpage-region--first {
    @include full;
    margin: 0;
  }

  .landingpage-region--second {
    @include span(first 4);
    margin-left: 0;
  }

  .landingpage-region--third {
    @include span(last 8 of 12);
    margin-right: 0;
  }
}
