/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
    display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
    font-size: 0.75em; /* 1 */
    -webkit-text-size-adjust: 0.75em; /* 2 */
    -ms-text-size-adjust: 0.75em; /* 2 */
    height:100%;
    
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
body,
button,
input,
select,
textarea {
    font-family: 'PT Sans', sans-serif;
    color:#666;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
margin: 0;
min-height:100%;
background-color:#E2E2E2;
}


/*body.front {
background:url(../images/sidebar-bg.gif) repeat-y center top transparent;
}*/

#page{
min-height:100%;    
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
    outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
    outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset{
margin-bottom:0;
}

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
    color:#F58026;
    font-family: Arvo, sans-serif;
    font-size: 2em;
    margin: 0.67em 0 0.167em 0;
    font-weight:normal;
}

h2,
h2.block-title,
h2.node-title{
    color:#0098f4;
    font-family: Arvo, sans-serif;
    font-size: 1.5em;
    font-weight:normal;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.17em;
    margin: 1em 0 0 0;
    color:#777;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0 0.867em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0 1em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0 1em 0;
}

#section-footer h2.block-title{
color:#3c3c3c;
font-size: 1.167em;
margin:0;
padding:10px 0 5px 0;
}

h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited{
color:#7F3D00;
text-decoration:none;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
    background: #ff0;
    color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
    margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
    quotes: none;
}

/* 2 */

q:before,
q:after {
    content: '';
    content: none;
}

small {
    font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

.views-field-created{
color:#999;
font-style:italic;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

.collections ul{
padding:0;
}

li{
padding-bottom:8px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
    margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
    line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
    *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
    cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border:none;
}

th.active,
td.active{
border-left:none;
border-right:none;
background-color:#666;
}

tr:hover td{
background: transparent;
}

tr.even, tr.odd{
border-bottom: 1px dotted #CCCCCC;
background-color:transparent;
}

tr.odd:hover td.active,
tr.odd td.active,
tr.odd td{
background-color:#f5f5f5;
}

tr.even:hover td.active,
tr.even td.active,
tr.even td{
background-color:transparent;
}

td, th{
padding:10px;
}

th a img {
margin: 0 0 3px 8px;
}


/* ========================================================================
   LAYOUT
 * ======================================================================== */

#section-content{
padding:0 0 3em 0;
background-color:#fff;
}

#region-postscript-third .block + .block{
padding-top:2em;
}

.panel-panel.grid-3 .panel-separator{
clear:both;
}

.panel-panel.grid-3 .panel-pane{
display:block;
padding:0 0 2em 0;
overflow:auto;
margin-left:-10px;
margin-right:10px;
}

.panel-panel.grid-3 .panel-pane .pane-content{
padding:0 0 0 10px;
}

.views-row{
padding-bottom:1.5em;
}

.grid-3 .views-row{
padding-bottom:.75em;
}

.grid-9 .inside{
padding-right:1em;
}

.alpha{
margin-left:10px;
}

.item-list .pager {
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: left;
    border-top:1px dotted #999;
}

.pager {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: transparent;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
}


.pager li.first,
.pager li.first a,
.pager li.first a:hover {
    border-radius: 0;
}

.pager li {
    border-color: #DDDDDD #BBBBBB #999999;
    border: none;
    color: #333333;
    font-family: Arvo, serif;
    font-weight:normal;
    font-size:1em;
    outline: 0 none;
}

.pager li.pager-first a,
.pager li.pager-previous a,
.pager li.pager-next a,
.pager li.pager-last a {
    padding: 4px;
    text-align: center;
    width: auto;
}

.pager li a {
    background: none;
    cursor: pointer;
}

.pager li a:hover{
background:none;
text-decoration:underline;
}

.pager li.pager-ellipsis,
.pager li.pager-current,
.pager li a {
    color:#B9554A;
}

.pager li.pager-current {
    background: none;
    color: #777;
    outline: 0 none;
}

.pager li.pager-next {
    border-color: #DDDDDD #BBBBBB #999999;
    border-left: none;
}

/* ========================================================================
   FORMS
 * ======================================================================== */

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"]{
border:1px solid #727272;
padding:5px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#dbsearch-block-form .form-item-query {
display: block;
float:left;
margin-right:.5em;
}

textarea,
input[type="text"]{
width:350px;
height:24px;
}

.panel-panel.grid-3 textarea,
.panel-panel.grid-3 input[type="text"]{
width:210px;
border:1px solid #727272;
}

select{
padding:2px 3px;
}

button, input[type="reset"],
input[type="submit"],
input[type="button"]{
background: #f36e20;
background: -webkit-gradient(linear, left top, left bottom, from(#f7952c), to(#f36e20));
background: -webkit-linear-gradient(top, #f7952c, #f36e20);
background: -moz-linear-gradient(top, #f7952c, #f36e20);
background: -ms-linear-gradient(top, #f7952c, #f36e20);
background: -o-linear-gradient(top, #f7952c, #f36e20);
padding: 4px 10px 3px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
text-shadow: rgba(0,0,0, 0) 0 1px 0;
color: white;
text-decoration: none;
vertical-align: middle;
font-family: 'PT Sans', sans-serif;
font-weight:normal;
}

.panel-panel.grid-3 button,
.panel-panel.grid-3 input[type="reset"],
.panel-panel.grid-3 input[type="submit"],
.panel-panel.grid-3 input[type="button"]{
margin:5px 0 0 0;
float:right;
}

.form-actions input:hover{
background: #f36e20;
color:#000;
}

.form-item{
padding:0 0 10px 0;
}

.webform-container-inline label{
display:block;
}

ul li.leaf,
.collections ul li{
    list-style-image:none;
    list-style-type: none;
}

.collections ul li{
margin: 0 0 0.25em 1.5em;
}

#edit-comment-body{
padding-bottom:1em;
}


/* =============================================================================
   HEADER
   ========================================================================== */

#section-header{
background: #f2f2f2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNWQ1ZDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #f2f2f2 0%, #d5d5d5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#d5d5d5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#d5d5d5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#d5d5d5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#d5d5d5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#d5d5d5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#d5d5d5',GradientType=0 ); /* IE6-8 */
padding-bottom:10px;
}


/* =============================================================================
   BRANDING
   ========================================================================== */

#logo{
padding:8px 0;
max-width:300px;
}


/* =============================================================================
   USER MENU
   ========================================================================== */

#block-superfish-1{
display:none;
}

/* =============================================================================
   MAIN MENU
   ========================================================================== */

#block-system-main-menu ul.menu li{
margin:0;
}

#block-system-main-menu li.expanded,
#block-system-main-menu li.collapsed,
#block-system-main-menu li.leaf{
padding:0;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li span.main-menu-item-title,
#zone-branding-wrapper #block-system-main-menu ul.menu li a{
display:block;
color:#fff;
text-decoration:none;
font-size:1.167em;
font-weight:normal;
font-family: Varela, sans-serif;
padding:6px 12px;
text-shadow: 1px 1px 1px #000000;
}

#block-system-main-menu{
border: 1px solid #bcbcbc;
background: #d3d3d3;
padding:5px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

#block-system-main-menu .block-inner{
border: 1px solid #bcbcbc;
background: #5c5e66;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-moz-box-shadow: inset 0 0 2px 0 #000;
-webkit-box-shadow: inset 0 0 2px 0 #000;
box-shadow: inset 0 0 2px 0 #000;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li:hover,
#zone-branding-wrapper #block-system-main-menu ul.menu li a.active{
color:#fff;
-webkit-box-shadow: 0px 0px 2px #666666;
-moz-box-shadow: 0px 0px 2px #666666;
text-shadow: 1px 1px 3px #666666;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#00aafe), to(#007ae3));
background: -moz-linear-gradient(top, #00aafe, #007ae3);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00aafe, endColorStr=#007ae3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00aafe, endColorStr=#007ae3);
}

#zone-branding-wrapper #block-system-main-menu ul.menu li + li:hover{
background: #00aafe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOThmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #00aafe 0%, #0098f4 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aafe), color-stop(50%,#0098f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* IE10+ */
background: linear-gradient(to bottom,  #00aafe 0%,#0098f4 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aafe', endColorstr='#0098f4',GradientType=0 ); /* IE6-8 */
}


/* =============================================================================
   SEARCH
   ========================================================================== */

#block-quicktabs-homepage-search-tabs{
height:300px;
}

#block-quicktabs-homepage-search-tabs input[type="text"]{
width:180px;
}

.ui-corner-all{
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-bottom-right-radius: 0;
-webkit-border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
}

.ui-tabs{
padding:0;
}

.ui-widget-content{
background:none;
border:none;
}

.front #zone-content-wrapper{
background-color:#5c5e66;
}

.ui-widget-header{
background:none;
border:none;
}

.ui-tabs .ui-tabs-nav li{
clear:both;
top:0;
border-bottom:1px solid;
width:100%;
}

.ui-tabs .ui-tabs-nav{
background-color:#444;
}


.ui-tabs .ui-tabs-nav li.ui-state-active{
background-color: #E5E6E9;
}

.ui-tabs .ui-tabs-panel{
background-color:#E5E6E9;
}

.ui-state-active,
.ui-widget-content
.ui-state-active,
.ui-widget-header
.ui-state-active{
border:none;
background:none;
}

.ui-state-default,
.ui-widget-content
.ui-state-default,
.ui-widget-header
.ui-state-default{
border:none;
background:none;
}

.ui-tabs .ui-tabs-nav{
padding:0;
}

.ui-tabs .ui-tabs-nav li a{
color:#fff;
width:100%;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a{
color:#f58026;
}

.ui-corner-top{
border-radius:0;
}

.ui-widget{
font-family: 'PT Sans', sans-serif;
}

.ui-tabs .ui-tabs-nav li.ui-state-active + li + li + li + li,
.ui-tabs .ui-tabs-nav li + li + li + li.ui-state-active + li,
.ui-tabs .ui-tabs-nav li + li + li.ui-state-active + li + li,
.ui-tabs .ui-tabs-nav li + li.ui-state-active + li + li + li{
position:absolute;
top:187px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active + li + li + li,
.ui-tabs .ui-tabs-nav li + li + li.ui-state-active + li,
.ui-tabs .ui-tabs-nav li + li.ui-state-active + li + li{
position:absolute;
top:154px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active + li + li,
.ui-tabs .ui-tabs-nav li + li.ui-state-active + li{
position:absolute;
top:121px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active + li{
position:absolute;
top:88px;
}


.homepage-tab-form-message {
clear: both;
}

/* =============================================================================
   NEWS
   ========================================================================== */

.pane-node-comments h2{
border-bottom:1px dotted #ccc;
}

.panel-panel.grid-3 .pane-node-field-news-featured-graphic img{
width:210px;
}

.panel-panel.grid-3 .flexslider{
border:none;
background-color:transparent;
}

.panel-panel.grid-3 .flex-nav-container{
margin-bottom:0;
}

.panel-panel.grid-3 .flexslider .slides li{
height:auto;
}


/* =============================================================================
   FLEX SLIDER
   ========================================================================== */

.views-field-title a{
display:block;
font-size:1.5em;
text-decoration:none;
color:#f58026;
font-family: 'PT Sans', sans-serif;
font-weight:normal;
line-height:1.2em;
padding-top:10px;
}

.flexslider .slides li{
height:250px;
padding-bottom:0;
}

.flex-direction-nav li{
padding-bottom:0;
}

.flex-control-nav{
bottom:-49px;
}

.flex-control-nav li{
margin: 0 0 0 2px;
padding-bottom:0;
}

.flex-direction-nav li a{
top:284px;
}

.flex-control-nav li a{
background-image:none;
background-color:#fff;
text-indent:0;
font-family: Arvo, sans-serif;
font-size: 1.5em;
padding: 4px 14px 6px 14px;
height:16px;
font-weight:normal;
color:#cbcbcb;
border:1px solid #cbcbcb;
line-height:1em;
}

.flex-control-nav li a:hover{
background-color:#999;
color:#fff;
}

.flex-control-nav li a.active{
background-color:#f58026;
color:#fff;
}

.flex-direction-nav li a{
background:url(../images/flex-nav.png) no-repeat 0 0 transparent;
height:28px;
width:42px;
}

.flex-direction-nav li a:hover{
background-position: 0 -28px;
}

.flex-direction-nav li .next {
background-position: -42px 0;
right:39px
}

.flex-direction-nav li .prev {
left:40px
}

.flex-direction-nav li .next:hover {
background-position: -42px -28px;
}


.front #block-views-library-news-block{
border-top:1px dotted #bfbfbf;
border-bottom:1px dotted #bfbfbf;
}


/* =============================================================================
   GLOSSARY
   ========================================================================== */

.view-clone-of-glossary .attachment{
padding:.75em 0;
}

.view-clone-of-glossary table .views-field-title a{
font-size:1em;
padding-top:0;
}

.view-clone-of-glossary table th.views-field-title a{
color:#fff;
}


.view-libraries-and-collections .views-row{
margin:0;
}

/* =============================================================================
   HELP
   ========================================================================== */

#HelpPanel .omega p{
margin-top:0;
}


/* ========================================================================
   Set bases styles for certain elements in mobile view
 * ======================================================================== */

.view-id-libraries_and_collections.view-display-id-block_1 {
  display: none;
}
