/*********
 * Print rules
 */
#zone-alpha-wrapper, #zone-user, #zone-user-wrapper, #block-system-main-menu, #block-system-main-menu ul.menu, #region-footer-first, #region-footer-second, #region-footer-third, #region-footer-fourth, .social-media, #breadcrumb, #zone-branding-wrapper #block-system-main-menu,
#zone-branding-wrapper #block-system-main-menu  {
	display: none;
}
#section-header {
	height: 100px;
	background: none;
	background-color: #FFF;
}
#pu-footer-logo, #university-copyright-footer {
	display: block;
}
.pane-calendar-details-panel-pane-2 {
	display: none;
}