/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */


#zone-branding-wrapper #block-system-main-menu ul.menu li + li > .view-id-libraries_and_collections.view-display-id-block_1 { 
  display: none;
}


/* =============================================================================
   HEADER
   ========================================================================== */

#section-header{
height:126px;
background:url(../images/BG.gif) repeat-x 0 0 #fff;
}

.front #zone-content-wrapper{
background:url(../images/home-BG.gif) repeat-x 0 -126px transparent;
}


/* =============================================================================
   USER MENU
   ========================================================================== */

#zone-user-wrapper{
height:26px;
}

ul li.leaf {
    list-style-image:none;
    list-style-type: none;
}

.sf-menu.sf-style-space-orange li:hover,
.sf-menu.sf-style-space-orange li.sfHover,
.sf-menu.sf-style-space-orange li.active a,
.sf-menu.sf-style-space-orange a:focus,
.sf-menu.sf-style-space-orange a:hover,
.sf-menu.sf-style-space-orange a:active,
.sf-menu.sf-style-space-orange.sf-navbar li li {
    background: none repeat scroll 0 0 transparent;
    color: #FFFFFF;
}

#block-system-main-menu ul.menu li{
float: left;
}

#zone-user .block-inner{
background:url(../images/user-right.gif) no-repeat right top transparent;
}

#superfish-1{
padding:0 17px;
font-size:0.917em;
background:url(../images/user-left.gif) no-repeat left top transparent;
}

.sf-menu.sf-style-space-orange li,
.sf-menu.sf-style-space-orange li li,
.sf-menu.sf-style-space-orange li li li,
.sf-menu.sf-style-space-orange.sf-navbar{
background:transparent;
}

.sf-menu.sf-style-space-orange a{
border:none;
text-decoration:none;
}



/* =============================================================================
   BRANDING
   ========================================================================== */

#zone-branding-wrapper .branding-data{
clear:none;
float:left;
width:320px;
}


/* =============================================================================
   MAIN MENU
   ========================================================================== */

#zone-branding-wrapper #block-system-main-menu{
clear:none;
display:block;
float:right;
height:50px;
padding:0;
}

#zone-branding-wrapper #block-system-main-menu .block-inner{
background:url(../images/mainnav-bg-left.png) no-repeat left center transparent;
height:50px;
padding-left:5px;
}

#zone-branding-wrapper #block-system-main-menu .block-inner .content{
background:url(../images/mainnav-bg-last.png) no-repeat right center transparent;
height:50px;
padding-right:5px;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li{
display:block;
height:40px;
padding:0;
margin:5px 0 0 0;
}


#zone-branding-wrapper #block-system-main-menu ul.menu li a{
display:block;
color:#fff;
text-decoration:none;
font-size:1.167em;
font-weight:normal;
font-family: Varela, sans-serif;
padding:9px 36px;
text-shadow: 1px 1px 1px #000000;
background-image:url(../images/mainnav-rule.gif);
background-repeat:no-repeat;
background-position:left center;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li.first a{
background-image:none;
}


#zone-branding-wrapper #block-system-main-menu ul.menu li:hover,
#zone-branding-wrapper #block-system-main-menu ul.menu li a.active{
color:#fff;
-webkit-box-shadow: 0px 0px 2px #666666;
-moz-box-shadow: 0px 0px 2px #666666;
text-shadow: 1px 1px 3px #666666;
background: -webkit-gradient(linear, 0 0, 0 100%, from(#00aafe), to(#007ae3));
background: -moz-linear-gradient(top, #00aafe, #007ae3);
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00aafe, endColorStr=#007ae3);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#00aafe, endColorStr=#007ae3);
}

#zone-branding-wrapper #block-system-main-menu ul.menu li + li:hover{
background: #00aafe; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYWFmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOThmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #00aafe 0%, #0098f4 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00aafe), color-stop(50%,#0098f4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00aafe 0%,#0098f4 50%); /* IE10+ */
background: linear-gradient(to bottom,  #00aafe 0%,#0098f4 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aafe', endColorstr='#0098f4',GradientType=0 ); /* IE6-8 */
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-footer{
clear:both;
padding:4px;
margin-top:5px;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-footer a{
font-family: Arvo, sans-serif;
font-style:italic;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-content .item-list{
clear:none;
display:block;
float:left;
width:175px;
padding:0 20px 0 0;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-content div.item-list +  div.item-list{
border-left:1px dotted #fff;
padding:0 0 0 20px;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-content .item-list ul{
padding:0;
margin:0;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 .view-content .item-list ul li{
float:none;
background:none;
display:list-item;
height:auto;
padding:3px 0;
line-height:1em;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 a{
background:none;
padding:0;
text-shadow:none;
font-size:0.857em;
color:#fff;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li .view-id-libraries_and_collections.view-display-id-block_1 a:hover{
color:#333;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li + li:hover .view-id-libraries_and_collections.view-display-id-block_1{
display:block;
background-color:#0098F4;
position:absolute;
z-index:100;
padding:10px 20px;
top:43px;
}

.view-id-libraries_and_collections.view-display-id-block_1 h3{
margin:5px 0;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li + li .view-id-libraries_and_collections.view-display-id-block_1 { 
  display: none;
}


/* =============================================================================
   SEARCH
   ========================================================================== */

#block-quicktabs-homepage-search-tabs{
padding:23px 0 0 0;
width: 709px;
background-color:transparent;
margin-right:-12px;
}

/*#block-quicktabs-homepage-search-tabs .block-inner{
box-shadow:0px 0px 9px #000000;
}*/

#block-allsearch-block-allsearch-search .block-inner,
#qt-homepage_search_tabs-ui-tabs1 .block-inner,
#qt-homepage_search_tabs-ui-tabs3 .block-inner,
#block-catalog-block-catalog-search .block-inner,
#qt-homepage_search_tabs-ui-tabs4 .block-inner,
#qt-homepage_search_tabs-ui-tabs5 .block-inner{
box-shadow:0px 0px 0px #000000;
}

#block-quicktabs-homepage-search-tabs h2.block-title{
padding:3px 0 3px 48px;
margin:0;
color:#ffffff;
background:url(../images/searchit-icon.gif) no-repeat left top #0098f4;
-webkit-border-top-left-radius: 4px;
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
/*border-top:1px solid #000;
border-left:1px solid #000;*/
}

.ui-corner-all{
-webkit-border-bottom-right-radius: 0;
-moz-border-radius-bottomright: 0;
border-bottom-right-radius: 0;
-webkit-border-top-left-radius: 0;
-moz-border-radius-topleft: 0;
border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-bottomleft: 4px;
border-bottom-left-radius: 4px;
}

.ui-tabs{
padding:0;
}

.ui-widget-content{
background:none;
border:none;
}

.ui-tabs .ui-tabs-panel{
background:url(../images/searchit-bg.gif) no-repeat left bottom transparent;
height:74px;
padding:29px 0 0 44px;
}

.ui-tabs .ui-tabs-nav{
background:url(../images/searchnav-bg.gif) repeat-x 0 4px #0098F4;
padding:0;
border-radius:0;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default{
background:none;
border:none;
}

.ui-widget-header{
background:none;
border:none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
padding:0;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{
background:url(../images/searchit-bg.gif) no-repeat left top transparent;
}

.ui-corner-bottom{
border-bottom-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li{
top:0;
margin:0;
}

.ui-corner-top{
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.ui-tabs .ui-tabs-nav li a{
padding:9px 46px 0 45px;
color:#fff;
height:25px;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a{
color:#f58026;
}

#section-footer{
background-color:#e2e2e2;
}

#block-quicktabs-homepage-search-tabs input[type="text"]{
float:left;
display:block;
width:490px;
height:45px;
border-top:1px solid #727272;
border-bottom:1px solid #727272;
border-left:1px solid #727272;
border-right:none;
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
padding:5px 0 5px 10px;
}

#block-quicktabs-homepage-search-tabs input[type="submit"]{
clear:none;
float:left;
height:45px;
width:115px;
background:url(../images/search-button-home.gif) no-repeat 0 0 #fff;
border-top:1px solid #727272;
border-right:1px solid #727272;
border-bottom:1px solid #727272;
border-left:none;
-webkit-border-top-right-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
-webkit-border-top-left-radius: 0;
-webkit-border-bottom-left-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-bottomleft: 0;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
padding:0;
color:#fff;
text-shadow: 0 0 0 #FFFFFF;
margin-left:-5px;
font-family: "PT Sans", sans-serif;
font-size:1.333em;
font-weight:normal;
vertical-align:middle;
}


#allsearch-block-form .form-item-query{
display:block;
}

/* =============================================================================
   GET HELP
   ========================================================================== */


.front #block-menu-menu-get-help-menu{
padding: 23px 0 0 0;
margin-left:-11px;
}

.front #block-menu-menu-get-help-menu .content{
background:url(../images/searchit-bg.gif) no-repeat right bottom transparent;
padding:0;
height: 137px;
}

.front #block-menu-menu-get-help-menu h2.block-title{
padding:3px 0 3px 48px;
margin:0;
color:#ffffff;
background:url(../images/gethelp.gif) no-repeat -1px 0 #0098f4;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/*border-top:1px solid #000;
border-right:1px solid #000;
border-bottom:1px solid #000;*/
}

.front #block-menu-menu-get-help-menu ul.menu{
padding:7px 12px 9px 12px;
background:url(../images/gethelpmenu-top.gif) no-repeat -1px 0 transparent;
}

.front #block-menu-menu-get-help-menu .block-inner{
border-left:1px solid #000;
}

.front #block-menu-menu-get-help-menu ul.menu li a{
color:#c78654;
text-decoration:none;
font-size:0.833em;
}

.front #block-menu-menu-get-help-menu ul.menu li a:hover{
color:#333;
}

.front #block-menu-menu-get-help-menu ul.menu li{
border-bottom:1px dotted #b3b4b5;
margin:0;
padding:0;
}

.front #block-menu-menu-get-help-menu ul.menu li.last{
border-bottom:none;
}

.form-item, .form-actions{
margin:0;
}

/* =============================================================================
   SECONDARY RESEARCH MENU
   ========================================================================== */

#block-menu-menu-secondary-research-links-ho{
display:block;
float:left;
padding:0 0 0 45px;
}

#block-menu-menu-secondary-research-links-ho .block-inner{
display:block;
padding:31px 0 0 21px;
background:url(../images/research-menu-left.png) no-repeat 0 31px transparent;
}

#block-menu-menu-secondary-research-links-ho .block-inner .content{
display:block;
padding:0 21px 0 0;
background:url(../images/research-menu-right.png) no-repeat right center transparent;
}

#block-menu-menu-secondary-research-links-ho ul.menu{
display:block;
}

#block-menu-menu-secondary-research-links-ho ul.menu li{
float:left;
background-color:#f1f1f1;
margin:0;
padding:4px 13px;
}

#block-menu-menu-secondary-research-links-ho ul.menu li a{
color:#f58026;
text-decoration:none;
font-size:0.917em;
}

#block-menu-menu-secondary-research-links-ho ul.menu li a:hover{
color:#333;
}


/* =============================================================================
   RENOVATION NEWS
   ========================================================================== */

.front #zone-postscript-wrapper{
padding:50px 0 0 0;
}

#renovation-news-block img{
float:left;
padding:0 10px 0 0;
}

#region-postscript-second .region-postscript-second-inner{
padding:0 28px;
}

.front #zone-postscript #region-postscript-first h2.block-title,
.front #zone-postscript #region-postscript-second h2.block-title{
float:left;
display:block;
background-color:#fff;
padding:0 8px;
margin:-17px 0 10px 20px;
}

.front #zone-postscript .content{
clear:both;
display:block;
}

.front #zone-postscript #block-block-2{
border-top:1px dotted #bfbfbf;
}

.read-more{
text-align:right;
}

.read-more a{
font-family: Arvo, sans-serif;
font-style:italic;
font-weight:normal;
background-color:#63c0f8;
color:#fff;
padding:3px 5px;
text-decoration:none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}


/* =============================================================================
   INFORMATION FOR
   ========================================================================== */

#block-menu-menu-user-group-portals{
margin:-32px 0 0 0;
}

#block-menu-menu-user-group-portals h2.block-title{
color:#5c5e66;
border-bottom:1px dotted #e5e5e5;
margin-left:-10px;
margin-right:10px;
margin-bottom:10px;
padding:0 12px;
}

#block-menu-menu-user-group-portals ul.menu li a{
color:#F58026;
text-decoration:none;
}

#block-menu-menu-user-group-portals ul.menu li a:hover{
color:#333;
}

/* =============================================================================
   FOOTER
   ========================================================================== */

#section-footer{
padding-bottom:3em;
min-height:100%;
}

#section-footer ul.menu li{
padding:0;
margin:0;
font-size:0.833em;
}

#section-footer ul.menu li a{
color:#505050;
text-decoration:none;
}

#section-footer ul.menu li a:hover{
color:#F58026;
}

#section-footer .block-menu{
border-left:1px solid #fff;
padding-left:8px;
min-height:225px;
}

#section-footer #footer-logo-block{
padding:10px 0 0 0;
font-size:0.833em;
}

