/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


.alpha {
    margin-left: 10px !important;
}

.ui-tabs .ui-tabs-nav li{
border-bottom:none !important;
border-top:none !important;
}