/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */



.ui-tabs .ui-tabs-nav li{
border-bottom:none !important;
border-top:none !important;
}


#zone-branding-wrapper .branding-data{
width:320px;
}


.sidebar-second.subject-librarian-page #section-content,
.sidebar-second #section-content{
background:url(../images/sidebar-bg.gif) repeat-y center top #fff;
}
.front #section-content {
	background: #fff;
	/* background:url(../images/sidebar-bg.gif) repeat-y center top #fff;*/
}

/* =============================================================================
   MAIN MENU
   ========================================================================== */

#zone-branding-wrapper #block-system-main-menu ul.menu li span.main-menu-item-title,
#zone-branding-wrapper #block-system-main-menu ul.menu li a{
font-size:1.167em;
padding:9px 30px;
}

#zone-branding-wrapper #block-system-main-menu ul.menu li{
height:40px;
}

#block-system-main-menu{
margin-top:0;
}


/* =============================================================================
   SEARCH
   ========================================================================== */

#block-quicktabs-homepage-search-tabs{
width: 709px;
height:203px;
}


.ui-tabs .ui-tabs-nav li a{
padding:11px 0 0 0;
height:28px;
width:178px;
}

.ui-tabs .ui-tabs-nav li + li a{
width:177px;
}


#block-quicktabs-homepage-search-tabs input[type="text"]{
width:490px;
height:45px;
padding:5px 0 5px 10px;
}


#block-quicktabs-homepage-search-tabs input[type="submit"]{
height:45px;
width:115px;
padding:0;
margin-left:-7px;
}


/* =============================================================================
   FLEX SLIDER
   ========================================================================== */

.front #region-postscript-first{
padding:0;
}

.flexslider ul.slides li img{
max-width:296px;
}


.flex-direction-nav li .next {
right:17px
}

.flex-direction-nav li .prev {
left:18px;
}
.flex-control-nav li a{
	padding: 4px 14px 6px 14px;
}

/* =============================================================================
   RENOVATION NEWS
   ========================================================================== */

.front #region-postscript-second .region-postscript-second-inner{
padding:0 28px;
}

.front #region-postscript-second{
margin-top:0;
}


/* =============================================================================
   INFORMATION FOR
   ========================================================================== */


/****************************************
 * Audience Page News
 ***************************************/

.pane-library-news-panel-pane .views-row {
	width: 30%;
	float: left;
	padding-right: 20px;
}
.pane-library-news-panel-pane .views-row img {
	float: none;
	max-width: 100%;
}

/* Feedback button */

#feedback-button, #feedback_simple {
	display: block;
}

/********************************************
 *  Hours, Mini Vertical 
 *******************************************/
 
.mini-vertical .views-field-field-hours-library-status .date-display-single {
	display: inline-block;
	padding-left: 10px;
}

.mini-vertical table td {
	font-size: 1.0em;
}

