/*******************************************************************************
 * single.layout.scss
 *
 * Styling of the 12 wide single column layout..
 ******************************************************************************/

.panel-display--single {
  @include clearfix;
}

.single-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .single-region--top {
    @include grid-span(12,1, $gutter: 0);
    clear:both;
    margin-left: 0;
  }

  .single-region--middle {
    @include grid-span(12,1, $gutter: 0);
    clear:both;
    margin-left: 0;
  }

  .single-region--bottom {
    @include grid-span(12,1, $gutter: 0);
    clear:both;
    margin-left: 0;
  }

}
