/* line 3, LG_v2_chatbutton.scss */
div.libraryh3lp > a.btn {
  border-color: #bbb #bbb #a2a2a2;
  box-shadow: 0 8px 6px -4px #aaa;
  box-shadow: 0 8px 6px -4px #aaa;
  color: #fff;
}

/* line 7, LG_v2_chatbutton.scss */
div.libraryh3lp > a.btn:hover {
  background-color: #e87511 !important;
  transition-delay: 0s;
  transition: background-color 0.1s linear 0s;
  transition: background-color 0.1s linear 0s;
  transition: background-color 0.1s linear 0s;
}

/* line 11, LG_v2_chatbutton.scss */
div.libraryh3lp > a.btn:active,
div.libraryh3lp > a.btn:focus {
  background-color: #e87511 !important;
}

/* line 15, LG_v2_chatbutton.scss */
div.libraryh3lp > a.btn-primary {
  width: 100%;
  background-color: #ea8817 !important;

  /* @include background-image(linear-gradient($button-gradient-top, $button-gradient-bottom)); */
  color: #fff;
  background-image: none;
  font-size: 19px;
  font-weight: bold;
  text-shadow: #333 1px 1px 3px;
}

/* line 22, LG_v2_chatbutton.scss */
div.libraryh3lp i.fa {
  color: #fff;
}
