/*******************************************************************************
 * four_five_three_stacked.layout.scss
 *
 * Styling of the "PUL" 4-5-3 stacked column layout..
 ******************************************************************************/

.panel-display--four_five_three_stacked {
  @include clearfix;
}

.four_five_three_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {
  .four_five_three_stacked-region--top {
    @include grid-span(12,1, $gutter: 0);
    clear: both;
  }

  .four_five_three_stacked-region--second {
    @include grid-span(4,1);
    margin-left: 0;
  }

 .four_five_three_stacked-region--first {
    @include grid-span(5,5, $gutter:0);
    clear: both;
  }

  .four_five_three_stacked-region--third {
    @include grid-span(3,10);
    margin-right: 0;
  }

  .four_five_three_stacked-region--bottom {
    @include grid-span(12,1, $gutter: 0);
    clear: both;
  }

}

.four_five_three_stacked-region--bottom:empty {
  // display: none;
}
