/*******************************************************************************
 * nine_three_stacked.layout.scss
 *
 * Styling of the "PUL" 9-3-stacked column layout..
 ******************************************************************************/
.panel-display--nine_three_stacked {
  *zoom: 1;
}
.panel-display--nine_three_stacked:after {
  content: "";
  display: table;
  clear: both;
}

.nine_three_stacked-region {
  margin-bottom: 18px;
}

@media (min-width: 44em) {
  .nine_three_stacked-region--top {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .nine_three_stacked-region--first {
    width: 74.13793%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
    margin-left: 0;
  }

  .nine_three_stacked-region--second {
    width: 22.41379%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .nine_three_stacked-region--bottom {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    clear: both;
    margin-right: 0;
  }
}
