/*******************************************************************************
 * three_six_three_stacked.layout.scss
 *
 * Styling of the 3-6-3 stacked column layout..
 ******************************************************************************/

.panel-display--three_six_three_stacked {
  @include clearfix;
}

.three_six_three_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

.three_six_three_stacked-region--first,
.three_six_three_stacked-region--middle,
.three_six_three_stacked-region--second {
  margin: 0.5em;
}

@include breakpoint($tab) {

  .three_six_three_stacked-region--top {
    @include grid-span(12, $gutter: 0);
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

  .three_six_three_stacked-region--first {
    @include grid-span(3,1);
    clear: both;
    margin-left: 0;
    padding-left:0.5em;
  }

  .three_six_three_stacked-region--middle {
    @include grid-span(6,4);
  }

   .three_six_three_stacked-region--second {
    @include grid-span(3,10);
    margin-right: 0;
    padding-right:0.5em;
  }

  .three_six_three_stacked-region--bottom {
    @include grid-span(12, $gutter: 0);
    clear: both;
    margin-left: 0;
    margin-right: 0;
  }

}
