/*******************************************************************************
 * three_six_three_stacked.layout.scss
 *
 * Styling of the 3-6-3 stacked column layout..
 ******************************************************************************/

@import "compass";
@import "breakpoint";
@import "singularitygs";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$desk : 1250px;

.panel-display--three_six_three_stacked {
  @include pie-clearfix;
}

.three_six_three_stacked-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($desk) {

  .three_six_three_stacked-region--top {
    @include grid-span(12,1);
    margin-left: 0;
  }

  .three_six_three_stacked-region--first {
    @include grid-span(3,1);
    margin-left: 0;
  }

  .three_six_three_stacked-region--middle {
    @include grid-span(6,4);
    margin-left: 0;
  }

   .three_six_three_stacked-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

  .three_six_three_stacked-region--top {
    @include grid-span(12,1);
    margin-left: 0;
  }

}
