// @include placeholder {
//   color: darken($gray-lightest, 10);
// }


// input {
//   @include placeholder-theme($ph-styles);
// }

// Slide out on focus
// scss-lint:disable VendorPrefix
input:focus::-webkit-input-placeholder {
  opacity: 1;
  text-indent: -100%;
  transition: text-indent 0.5s 1s ease;
}

// Fix firefox placeholder positioning
// scss-lint:disable VendorPrefix
input::-moz-placeholder {
  line-height: 2.4em;
}
