.form-item-submitted-time-of-incident-hour select,
.form-item-submitted-time-of-incident-minute select,
.form-item-submitted-start-time-hour select,
.form-item-submitted-start-time-minute select,
.form-item-submitted-end-time-hour select,
.form-item-submitted-end-time-minute select,
.form-item-submitted-time-of-tour-hour select,
.form-item-submitted-time-of-tour-minute select {
  display: inline-block;
}

.webform-client-form-5514 {
  .form-radios {
    margin-left: 1em;
  }
}
