.contact-form .form-item,
.webform-client-form .form-item {
  margin-bottom: 1.5em;

  &.webform-container-inline .form-text {
    width: auto;
  }

  label {
    display: block;
    margin-bottom: 0.25rem;
  }

  &.webform-container-inline .form-type-radio {
    display: block;
    margin-bottom: 0;

    label {
      display: inline;
    }
  }

  .form-text,
  .field-prefix,
  .field-suffix,
  .form-radio + label {
    display: inline;
  }

  .field-prefix + input {
    width: auto;
  }

  .form-item.form-type-radio,
  .form-item.form-type-checkbox,
  .form-radio + label {
    margin-bottom: 0;
    padding: 0.25rem;

    input {
      margin-right: 0.25rem;
    }
  }

  .description {
    color: $gray-dark;
    font-size: $font-size-small-2;
    font-style: italic;
    margin-bottom: 0.5rem;
  }

  &.form-type-checkbox {
    label {
      display: inline;
    }
  }
}

.webform-progressbar {
  margin-bottom: 1rem;
}

.form-wrapper {
  .form-submit + .form-submit {
    margin-left: 1em;
  }
}

.form-textarea-wrapper textarea {
  width: 100%;
}

.webform-container-inline input {
  margin: 0;
}

.form-managed-file {
  .form-file {
    vertical-align: middle;
  }

  .form-submit {
    border: solid $black 1px;
    margin-top: 0;
    padding: 0.25em 0.5em;
  }
}

.form-required {
  color: $red;
}

.webform-component .form-item {
  width: auto;
}

.cas-login-form .form-item,
.user-login .form-item,
.cas-links {
  margin-bottom: 1em;
}

.ctools-jump-menu {
  margin-bottom: 1em;
}

.ctools-jump-menu-select {

  &:hover,
  &:focus {
    background: $blue-a11y;
    color: $white;
  }
}

.form-item.webform-component {
  margin-bottom: 1.25rem;

  label {
    margin-bottom: 0.25rem;
  }
}
