.webform-progressbar {
  margin-bottom: 2.5rem;
  width: 100%;
}

.webform-progressbar-outer {
  border: unset;
  display: flex;
  height: auto;
  margin: unset;
  position: unset;
}

.webform-progressbar-inner {
  background-color: transparent;
  width: 0 !important;
}

.webform-progressbar-page {
  border-color: transparent;
  border-radius: unset;
  flex-grow: 1;
  height: auto;
  margin: unset;
  padding: 5px 5px 15px;
  position: unset;
  width: auto;

  &.current,
  &.completed {
    background-color: transparent;
    border-bottom: 2px solid $orange;
  }

  &.current {
    font-weight: bold;
  }
}

.webform-progressbar-page .webform-progressbar-page-number {
  background: $black;
  border-radius: 50%;
  color: $white;
  display: block;
  height: 30px;
  line-height: 1.8;
  margin: auto;
  width: 30px;
}

.webform-progressbar-page .webform-progressbar-page-label {
  display: block;
  font-size: 14px;
  line-height: 1.4;
  margin: unset;
  padding: 5px;
}
