/*******************************************************************************
 * three_six_three.layout.scss
 *
 * Styling of the 3-6-3 column layout..
 ******************************************************************************/

.panel-display--three_six_three {
  @include clearfix;
}

.three_six_three-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {

  .three_six_three-region--first {
    @include grid-span(3,1);
    margin-left: 0;
    clear: both;
  }

  .three_six_three-region--middle {
    @include grid-span(6,4);
  }

   .three_six_three-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

}
