.three_six_three-region--first,
.three_six_three_stacked-region--first,
.three_nine-region--first,
.three_nine_stacked-region--first,
.three_three_three_three_stacked-region--first {
    .panel-pane > ul.menu {
        margin-top: 1.75em;
    }
    a {
        // font-family: $font-sans;
    }
    ul.menu li {

        a {
            padding: .5em;
            margin: 0;
            display: block;
            font-size: 1.4em;
        }

        a.active, &.expanded a.active {
                background: $blue-darkest;
                color: $white;
        }

        &.expanded {
            background: $gray-lightest;
            border-radius: 4px;
            a {
                color: $blue-darkest;
            }
        }
    }

    ul.menu > li > a {
        font-size: 1.15rem;
    }

    ul.menu > li > ul > li > a {
        font-size: $font-size-base;
        padding-left: 1em;
    }

    ul.menu > li > ul > li > ul > li > a {
        padding-left: 4em;
    }
}

