.pane-menu-menu-get-help-menu {

	.menu {
		list-style: none;

		.leaf {
			list-style: none;
			margin-bottom: 5px;
			display: block;

			a {
				// font-size: $font-size-base;

				//chat button
				.libraryh3lp .button--libraryh3lp {
					font-size: 0.875rem;
				}
			    &:hover:before {
			    	text-decoration: none;
			    }
			}

			[class^="ico-"]:before, [class*=" ico-"]:before {
				margin-left: 0;
				margin-right: 0.5em;
				font-family: 'pul_base_theme';
			    speak: none;
			    font-style: normal;
			    font-weight: normal;
			    font-variant: normal;
			    text-transform: none;
			    line-height: 1;
			    -webkit-font-smoothing: antialiased;
			    display: inline-block;
			}
			.ico-chat:before {
				content: "\e601";
			}
			.ico-mail:before {
				content: "\f03b";
			}
			.ico-calendar:before {
				content: "\e620";
			}
			.ico-phone:before {
				content: "\e60e";
			}
			.ico-book:before {
				content: "\e61d";
			}

		}
	}
}
 
.front .pane-menu-menu-get-help-menu .menu .leaf {
	a {
		// @include adjust-font-size-to(16px);
	}
}

