.three_nine-region--first {
    .pane-menu-menu-scholarly-communications-of {
        li a {
            color: #006838;
        }

        ul.menu li a.active {
            background: #006838;
            color: #fff;
        }
    }
}

.page-node-13202 a {
    color: #006838;
}

