.three_six_three-region--first, 
.three_six_three_stacked-region--first,
.three_nine-region--first, 
.three_three_three_three_stacked-region--first {
    .panel-pane > ul.menu {
        margin-top: 1.75em;
    }
    h2 {
        // @include adjust-font-size-to(1.3em);
        // @include rhythm(0.75, 0, 0, 0.5, 1.3em);
    }
    a {
        // font-family: $font-sans;
    }
    ul.menu li {

        a {
            padding: .3em;
            margin: 0;
            display: block;
        }

        a.active, &.expanded a.active {
                background: $blue-lighter;
                color: $white;
        }

        &.expanded {
            background: lighten($blue-lightest, 35);
            border-radius: 4px;
        }
    }

    ul.menu > li > a {
        font-size: 1.015rem;
    }

    ul.menu > li > ul > li > a {
        // font-size: $font-size-base;
        padding-left: 2em;
    }

    ul.menu > li > ul > li > ul > li > a {
        padding-left: 4em;
    }
}

