.menu--secondary,
#menu--secondary {
    margin-top: 1em;
    br {
        display: none;
    }
    .skip2main {
        display: block;
        position: relative;
        left: 0;
        top: 0;
        background: $gray-lightest;
        color: $gray-darkest;
        text-decoration: none;
        padding: 10px;
        width: 95%;
        margin-bottom: 2px;
        @include breakpoint($tab){
            display: none;
        }
    }
    .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
        @include breakpoint($tab-desk) {
            display: block;
        }
    }
    .show-section-menu {
        display: block;
        text-align: left;
        color: $white;
        background: $gray-darker;
        padding: 10px;
        width: 95%;
        @include breakpoint($tab-desk) {
            display: none;
        }
    }
    input[type=checkbox] {
        display: none;
    }
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
}
