.three_nine-region--first {
    .pane-menu-menu-scholarly-communications-of {
        li a {
            color: #006838;
        }

        ul.menu li a.active {
            background: #006838;
            color: $white;
        }
    }
}

.page-node-13202, .page-node-13199, .page-node-13201 {
    .node__content a {
        color: #006838;
    }
}