.l-branding nav ul {
	  $navigation-padding: 1em;
	  $navigation-background: $gray-dark;
	  $navigation-color: transparentize($white, 0.3);
	  $navigation-color-hover: $white;
	  $navigation-height: 60px;
	  $navigation-nav-button-background: $gray-dark;
	  $navigation-nav-button-background-hover: lighten($navigation-background, 10);
	  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20);
	  $navigation-search-background: lighten($navigation-background, 5);
	  $navigation-search-border: 1px solid darken($navigation-background, 5);
	  $navigation-active-link-color: transparentize($white, 0.5);
	  $navigation-submenu-padding: 1em;
	  $navigation-submenu-width: 12em;
	  $horizontal-bar-mode: $desk;
	float: left;
	margin: 5px 0;
	padding: 0;

	li {
		list-style: none;
		display: inline-block;

		a {
			margin-top: 0.6em;
		    float: right;
		    // @include transition (all 0.2s ease-in-out);
		    display: inline;
		    border-radius: $base-border-radius; 
		    color: $white;
		    // font-size: $font-size-smaller;  
		    font-weight: 800;
		    padding: .4em .5em;

		    @include breakpoint($desk) {
		      padding: .5em 1em;
		    }

		    &:hover {
		      background: lighten(#494f57, 10);
		    }
		}
	}
}

.front .l-branding nav ul, .page-find-all .l-branding nav ul {
	float: right;
}