// _menu-cdl.scss

/* CDL Menu */
ul.nice-menu.nice-menu-menu-collection-development-webs {
  text-align: center;
  z-index: 0;
  background: none;
  margin-top: 0px;
  border-top: none;
  z-index: 99;
}

ul.nice-menu.nice-menu-menu-collection-development-webs li {
 background: none;
 border: none;
}

ul.nice-menu.nice-menu-menu-collection-development-webs li a {
    // font-size: $font-size-base;
    color: $white;
    background: none;
    padding-right: 1.7em;
    padding-left: 1.7em;
    text-decoration: none;
  }

ul.nice-menu.nice-menu-menu-collection-development-webs li a:hover,
ul.nice-menu.nice-menu-menu-collection-development-webs li a.active {
    // font-size: $font-size-base;
    color: #F58026;
  }

/* !Important Dropdowns */
ul.nice-menu.nice-menu-menu-collection-development-webs ul {
  top: 2em;
  background-color: $black;
  padding:0;
  border:0;
  margin:0;
}

ul.nice-menu.nice-menu-menu-collection-development-webs .menuparent a {
  padding-right: 15px;
  color: $white;
  font-size: 1em;
  text-align: left;
}

ul.nice-menu.nice-menu-menu-collection-development-webs .menuparent a:hover {
  padding-right: 15px;
  color: #F58026;
}

.views-slideshow-cycle-main-frame.views_slideshow_cycle_teaser_section {
  display: block;
  margin: 0 auto;

  a {
    color: $white;
  }
}

.views-slideshow-controls-bottom {
  display: none;
}