.three_nine-region--first {
    .pane-menu-menu-scholarly-communications-of, 
    .pane-menu-menu-research-data-management {
        li a {
            color: #006838;
        }

        ul.menu li a.active {
            background: #006838;
            color: $white;
        }
    }
}

.page-node-13202, .page-node-13199, .page-node-13201, //sco
.page-node-12481, .page-node-12482, .page-node-12483, .page-node-12484, .page-node-12485 //research data mgmt
 {
    .node__content a {
        color: #006838;
    }
}