/*******************************************************************************
 * three_nine.layout.scss
 *
 * Styling of the 3-9 column layout..
 ******************************************************************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinreiss\/Projects\/librarycore\/pul_library_drupal\/sites\/all\/themes\/pul_base\/sass\/layouts\/three_nine\/three_nine\.layout\.scss}line{font-family:\0000318}}
.panel-display--three_nine {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinreiss\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.pul_base\/gems\/compass-core-1\.0\.0\.rc\.1\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
  .panel-display--three_nine:after {
    content: "";
    display: table;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinreiss\/Projects\/librarycore\/pul_library_drupal\/sites\/all\/themes\/pul_base\/sass\/layouts\/three_nine\/three_nine\.layout\.scss}line{font-family:\0000322}}
.three_nine-region {
  margin-bottom: 20px; }

@media (min-width: 1250px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinreiss\/Projects\/librarycore\/pul_library_drupal\/sites\/all\/themes\/pul_base\/sass\/layouts\/three_nine\/three_nine\.layout\.scss}line{font-family:\0000328}}
  .three_nine-region--first {
    width: 23.72881%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/kevinreiss\/Projects\/librarycore\/pul_library_drupal\/sites\/all\/themes\/pul_base\/sass\/layouts\/three_nine\/three_nine\.layout\.scss}line{font-family:\0000331}}
  .three_nine-region--second {
    width: 74.57627%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
