blockquote {
  background: $gray-lightest;
  border-left: 10px solid $gray-light;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: $gray-light;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
