$susy: (
  output: float,
  container: 1200px,
  columns: 12,
  gutters: 1/3,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba($princeton-orange, 0.25),
    output: overlay,
    toggle: top right,
  ),
);

.wrapper,
.l-content {
  padding: 0 1em;
}
