// Import external libraries.
@import "libraries/normalize-libsass/normalize";
@import "libraries/breakpoint-sass/stylesheets/breakpoint";
@import "libraries/singularity/stylesheets/singularitygs";
@import "libraries/sass-toolkit/stylesheets/toolkit";
@import "vendor/bourbon/bourbon";
@import "vendor/base/base";

// Import variables, abstractions, base styles and components using globbing.
@import "utils/_utils";
@import "base/_base";

@import "components/branding";
@import "components/header";
@import "components/footer";
@import "components/menus/menu--main";
@import "components/search/search--header";
@import "layouts/three_nine/three_nine";
@import "layouts/three_six_three/three_six_three";
@import "layouts/six_six/six_six";
@import "layouts/pul_base_nine_three/pul_base_nine_three";

// Illiad search bar

.search-bar {
  $base-spacing: 1em;
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $dark-gray: $gray-darkest !default;
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  .f-criteria {
    box-sizing: border-box;
    @include transition(border-color);
    background-color: $white;
    border-radius: $base-border-radius;
    border-radius: $base-border-radius;
    border: 1px solid $base-border-color;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    width: 100%;
  }

  .f-submit {
    @include button(flat, $base-accent-color);
    @include position(absolute, 0em 0em 0em null);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
  }
}
