// Hide the toolbar or admin menu on small screens.
@media all and (max-width: 800px) {
  .hide-sm {
    @include visually-hidden();
  }

  .logged-in .toolbar {
    display: none;
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }
}

.hide {
  @include visually-hidden();
}

.float-left {
    float: left;
}
// hide summary count for database nav
.summary-count {
    display: none;
}
// hide aka titles for db
.subject-landing-page .views-row .field--name-field-dboverride-database article header {
    display: none;
}

span.icon-article-express--small-after {
  font-size: .75em;
}

span.icon-article-express--small-after:before {
  content: " ";
}

h1.icon-article-express--small-after:after {
  font-size: .75em;
}

// hide empty p tags
p:empty {
    display: none;
}

// adjust margins for short desc branch libraries
// .three_six_three_stacked-region--middle .pane-node-body p {
//   margin-bottom: 0;
// }

// bold
.strong {
  font-weight: bold;
}