.branch-libraries {

    .three_six_three_stacked-region--first h2,
    .three_six_three_stacked-region--second h2 {
        line-height: 1.4em;
    }

    .oh-display {
        margin-bottom: 0.5em;
        display: block;

        @include breakpoint($tab-desk) {
            display: inline;
        }

        .oh-display-hours {
            display: block;

            @include breakpoint($tab-desk) {
                display: inline;
            }
        }
    }

    .view-full-schedule {
        margin: 1em 0;
    }

    .library-info a {
        text-decoration: none;
    }
    
}