.pane-node-field-branch-spotlight-item {
    display: block;
    margin-top: 1.25em;
    position: relative;

    h3.field-label {
        display: none;
    }

    .node__title {
        position: absolute;
        top: 0;
        height: 100%;
        max-width: 220px;
        font-size: 16px;
        // font-family: $font-sans;
        margin: 0;
        text-shadow: black 2px 2px;
        z-index: 1;
        line-height: 1.4em;

        a {
            color: $white;
            font-weight: bold;
            display: block;
            padding: 0.75em;
            border-radius: 4px;
            height: 100%;
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 79, 87, 0.95)), to(rgba(73, 79, 87, 0)));
        }

    }

    .field--name-field-spotlight-graphic img {
        border-radius: 4px;
        opacity: 0.7;
    }

}