.page-node-7793 .view-header p,
.page-node-7793 .pane-plasma-physics-feeds-panel-pane-3,
.accordion,.accordion div,.accordion h1 {
	margin: 0;
	padding: 0;
	border: none;
}

.page-node-7793 .tab,
.accordion .tab {
	display: block;
	padding: 1em;
	background: $blue-darker;
	color: $white;
	text-decoration: none;
}

.view-id-plasma_physics_feeds .view-content,
.accordion div .content {
	display: none;
	margin: 5px 0;
}

.page-node-7793 .three_six_three_stacked-region--middle div:target .view-content,
.accordion div:target .content {
	display: block;
}

.page-node-7793 .view-display-id-panel_pane_3 > div,
.page-node-7793 .view-display-id-panel_pane_2 > div,
.page-node-7793 .view-display-id-panel_pane_1 > div,
.page-node-7793 .view-display-id-panel_pane_4 > div,
.page-node-7793 .view-display-id-panel_pane_5 > div,
.page-node-7793 .view-display-id-panel_pane_6 > div,
.accordion > div {
	margin-bottom: 3px;
	overflow: hidden;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.accordion > div:target {
	height: auto;
}

.accordion .content em.bullet {
	width: 5px;
	height: 5px;
	margin: 0 5px;
	display: inline-block;
}

.accordion .content ul li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}