.branch-libraries {
    .l-main {
        padding: 0;
    }
    h1 {
    display: none;
    }

    .three_six_three_stacked-region--top {
        .pane-node-field-library-image,
        .pane-branch-library-image-panel-pane-1 {
            position: relative;
        } 
        h2 {
            position: absolute;
            z-index: 1;
            display: block;
            font-size: 2rem;
            background: rgba(255,255,255,0.7);
            padding: 0.3em;
            text-shadow: $white 2px 2px;
            bottom: 0;
            width: 100%;
            margin-bottom: 25px;
        }
        .view-id-branch_library_image img {
            opacity: 0.4;
        }
    }

    .view-full-schedule {
        margin: 1em 0;

        .icon-clock {
            margin-right: 0.25em;
            font-size: 0.9em;
        }
    }

    .three_six_three_stacked-region--second {
        .view-workgroup .views-row.views-row-odd {
            background: none;
        }
        .views-field-picture {
            margin-bottom: 0.5em;
        }
    }

    .is-Open {
        display: none;
    }
    
    .pane-node-field-featured-resources {
        display: block;
    }
}

.pane-node-field-branch-spotlight-item {
        display: block;
        margin-top: 1.25em;
        position: relative;

        h3.field-label {
            display: none;
        }
        .node__title {
            position: absolute;
            top: 0;
            height: 60px;
            max-width: 220px;
            font-size: 16px;
            font-family: $font-sans;
            margin: 0;
            text-shadow: black 2px 2px;
            z-index: 1;
            line-height: 1.4em;

            a {
                color: white;
                font-weight: bold;
                display: block;
                padding: 0.75em;
                border-radius: 4px;
                height: 165px;
                background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 79, 87, 0.95)), to(rgba(73, 79, 87, 0.2)));
            }
        }
        .field--name-field-spotlight-graphic img {
            @include border-radius(4px);
            opacity: 0.7;
        }
    }
