/*******************************************************************************
 * pul_base_nine_three.layout.scss
 *
 * Styling of the "PUL" 9-3 column layout..
 ******************************************************************************/

.panel-display--pul_base_nine_three {
  @include clearfix;
}

.pul_base_nine_three-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {
  .pul_base_nine_three-region--first {
    @include grid-span(9,1, $gutter:0);
    margin-left: 0;
  }
   .pul_base_nine_three-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

}
