/*******************************************************************************
 * pul_base_nine_three.layout.scss
 *
 * Styling of the "PUL" 9-3 column layout..
 ******************************************************************************/

@import "compass";
@import "breakpoint";
@import "singularitygs";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$desk : 1250px;


.panel-display--pul_base_nine_three {
  @include pie-clearfix;
}

.pul_base_nine_three-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($desk) {
  .pul_base_nine_three-region--first {
    @include grid-span(9,1);
    margin-left: 0;
  }
   .pul_base_nine_three-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

}
