//alumni news

.five_four_three_stacked-region--bottom .view-id-library_news {
    .views-row-1 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,1);
            margin-left: 0;
        }
    }
    .views-row-2 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,5);
        }
    }
    .views-row-3 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,9);
            margin-right: 0;
        }
    }

    .field--name-field-news-featured-graphic img {
        margin-bottom: 1em;
    }

    .field--name-field-news-article-snippet {
        clear: both;
    }
}