//rare books for marquand
.pane-library-news-panel-pane-6 {
    margin: 0 auto;

    h2,h3 {
        text-align: center;
    }
    .media--stacked {
        margin: 0 auto;
        .library-news-link img {
            float: none;
            clear: both;
            margin: 0 auto;
            display: block;
        }
        .copy {
            float: none;
            clear: both;
            text-align: center;
        }
    }
}