//rare books for marquand
.pane-library-news-panel-pane-6 {
    margin: 0 auto;

    h2, h3 {
        text-align: center;
    }

    .media--stacked {
        margin: 0 auto;

        .library-news-link img {
            float: none;
            clear: both;
            margin: 0 auto;
            display: block;
        }

        .copy {
            float: none;
            clear: both;
            text-align: center;
        }
    }
}

//rare books highlights in news
.section-news .pane-library-news-panel-pane-6 {
    margin-top: 1em;

    h3 {
        // text-align: center;
        display: none;
    }

    .media--stacked {
        margin: 0 auto;

        .library-news-link {
            display: inline-block;
            margin-right: 1em;
        }

        .library-news-link img {
            float: left;
            display: inline-block;
        }

        .copy {
            width: 63%;
            float: right;
            text-align: left;
        }
    }
}

// branch news index page
.three_six_three_stacked-region--middle .view-branch-news img {
    float: left;
    margin-right: 1em;
}

.view-branch-news {
    li {
        clear: both;
        margin-bottom: 1em;
    }
    img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .copy {
        float: none;
        clear: both;
        text-align: center;
    }
}