.panel-display--single {
  @include clearfix;
}

@include breakpoint($tab) {
  .single-region--top {
    @include full;

    margin: 0;
  }

  .single-region--middle {
    @include full;

    margin: 0;
  }

  .single-region--bottom {
    @include full;

    margin: 0;
  }
}
