@import "singularitygs";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 18px;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

@include add-grid(12);
@include add-gutter(2/3);