@import "compass";

$font-serif: "Droid Serif", Georgia, Cambria, "Times New Roman", Times, serif !default; 
$font-sans: "Roboto", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-mono: "Lucida Console", Monaco, monospace !default;
$text-color: #000 !default;

$base-font-size: 16px;
$base-line-height: 24px;

$round-to-nearest-half-line: true; // Allows compass to round to  multiples of 0.5x line height 
$rhythm-unit: "rem"; // Sets rhythm unit to rem. Remove to use default em unit. 

$h1-fz: 30px;
$h2-fz: 24px;
$h3-fz: 20px;
$h4-fz: 16px;
$h5-fz: 13px;
$h6-fz: 10px;

$font-size-base: 0.875rem;
$font-size-smaller: 0.75rem;
$font-size-larger: 1.125rem;