.four_five_three_stacked-region--first {
    .is-Open {
        display: none;
    }
}

.front {

    .library-hours {
        table {
            margin-bottom: 1em;
        }
        tr.even {
            background: none;
            border-top: 1px solid #ddd;
        }
        tr.odd > td {
            background: $gray-light;
        }
        td {
            padding: 0.5em;
        }
        td.views-field-title {
            width: 60%;
            white-space: nowrap;
        }
        td.views-field-field-open-hours {
            text-align: right;
        }

    }

    @include breakpoint($rwd-tables) {
        .library-hours {
            td.views-field-field-open-hours {
                text-align: left;
            }
        }
    }

}

.pane-library-hours-panel-pane-2 .view-library-hours .views-field-field-open-hours {
    text-align: right;
}