.view-library-hours {

	.view-header {
		border-top: none;
		border-right: 2px solid $white;
		border-left: none;
		border-bottom: 1px solid #999;
		border: 1px solid $black;
		background-color: $orange;
		margin-bottom: 0;
		height: auto;
	}

}

.view .date-nav-wrapper {
	position: relative;
	margin-top: 5px;
	width: 100%;

	.date-nav {
		padding-bottom: 0.5em;
		margin-bottom: 0;

		.date-prev, .date-next {
			margin-top: 3px;
			background: none;
			padding: 0px 4px;
			border-radius: 4px;
			color: $white;
			text-decoration: none;
			vertical-align: middle;
			position: absolute;
			top: -4px;
			width: 30px;
			height: 25px;
			text-align: center;
		}

		.date-prev {
			float: left;
			right: 0;
			left: 20px;
		}

		.date-next {
			float: right;
			right: 20px;
		}

		a {
			text-decoration: none;
			color: $white;
		}
	}

	.date-heading {
		position: relative;
		width: 100%;
		top: 0px;
		text-align: center;
		z-index: 0;

		h3 {
			color: $white;
			margin: 0;
			font-size: 1.7em;
		}
	}
}

.view-library-hours {

	table {
		margin: 0;
	}

	th.days {
		padding: 10px 20px 10px 20px;
		background: $gray-light;
		color: $gray-dark;
		border: 1px solid #ccc;
		text-align: center;
	}

	td.single-day,
	td.date-box {
		border: 1px solid #ccc;
		padding: 0.7em 1em;
		box-sizing: border-box;
		vertical-align: top;
	}

	.month-view td.date-box {
		border-bottom: none;
		padding-bottom: 0;
		text-align: right;
		font-weight: bold;
	}
	.month-view td.single-day {
		border-top: none;
	}

	.empty {
		background: lighten($gray-light,1);
	}

}


.views-field-field-open-hours .is-Open,
.library-hours-status .is-Open {
	display: none;
}

.section-hours .is-Closed .date-display-single {
	display: none;
}

.library-hours .date-nav-wrapper .date-next i {
	margin-left: 0;
}

.library-hours .date-nav-wrapper .date-prev a,
.library-hours .date-nav-wrapper .date-next a {
	font-size: 18px;
	padding: 0 0 0 0;
	margin: -2px 0 0 0;
	line-height: 90%;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.library-hours .date-nav-wrapper .date-next,
.library-hours .date-nav-wrapper .date-prev {
	margin-top: 3px;
	padding: 0px 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: $white;
	text-decoration: none;
	vertical-align: middle;
}

.library-hours .date-nav-wrapper .date-prev i {
	margin-left: -5px;
}

.single-region--middle .pane-term-description p {
	margin-top: 0;
}

div.view-content > table.views-table > tbody > tr > td {
	// @include adjust-font-size-to(14px);

	p {
		margin: 0.5em 0;
	}
}

.calendar-calendar td span.date-display-single,
.calendar-calendar td span.date-display-start,
.calendar-calendar td span.date-display-end {

	font-weight: normal;

}

.calendar-calendar td.empty {

	color: darken($gray-light, 10);

}

.calendar-calendar .month-view .full td.date-box.today,
.calendar-calendar .month-view .full td.single-day.today {

	background: $orange-light;

}

.calendar-calendar .month-view .full td.date-box.today {

	border: 2px solid $orange;
	border-bottom: none;

}

.calendar-calendar .month-view .full td.single-day.today {

	border: 2px solid $orange;
	border-top: none;

}

.calendar-calendar .month-view .full tr td.single-day.today {

	border-bottom: 2px solid $orange;

}