// branding
.wrapper--branding {
  background-color: $gray-darkest;
  border-top: 5px solid $princeton-orange;
  min-height: 40px;

  .site-name {
    display: none;
  }
}

.l-region--branding {

  h2 {
    height: 40px;
    margin: 0;
    position: relative;
  }

  .homepage-tab-form-message {
    display: none;
  }
}

// non-SVG logo
.site-logo {
  clear: both;
  height: 40px;
  line-height: 21px;
  margin-left: -0.7em;

  &:before { /* create a full-height inline block pseudo=element */
    content: " ";
    display: inline-block;
    height: 100%;
    vertical-align: middle; /* vertical alignment of the inline element */
  }

  img {
    display: inline-block;
    margin: 0 auto;
    padding: 0 1em;
    vertical-align: middle;

    @include breakpoint($desk) {
      margin: 0;
      padding: 0;
    }
  }
}

// SVG logo
.svg {
  .site-logo img {
    display: none;
  }

  .site-logo {
    @include vertical-align();
    background: url("/sites/all/themes/pul_base/assets/public/images/logo.svg") center center no-repeat;
    background-size: contain;
    display: block;
    margin-left: 0;
    max-height: 18px;

    @include breakpoint($tab) {
      background: url("/sites/all/themes/pul_base/assets/public/images/logo.svg") center left no-repeat;
      background-size: contain;
      // max-height: 25px;
    }

    @include breakpoint($bp-large) {
      max-height: 25px;
    }
  }
}

.front h1 {
  @include visually-hidden;
}
