.page-topics .media-image {
  min-width: 108px;
}

.page-topics .media {
  margin-bottom: 1em;
}

.starts-with {
  @include visually-hidden;
}

.view-topics .attachment-before {
  margin-bottom: 2em;
}

.view-topics .attachment-after {
  margin-top: 2em;
}

.section-topics .three_six_three-region--second,
.section-collections .three_six_three-region--second,
.section-collections .three_six_three-region--first {
  .panel-pane h2 {
    font-size: 1.2em;
  }

  .panel-pane:first-child h2 {
    margin-top: 0;
  }
}

.section-topics .three_six_three-region--middle,
.section-collections .three_six_three-region--middle {
  p:first-child {
    margin-top: 0;
  }
}

.striped-list a {
  font-family: $font-sans;
}

.section-topics .view-id-collection ul {
  margin-left: 1em;
}
