select {
    outline: none;
    background: $gray-light;
    border: 1px solid $gray-light;
    height: 1.8em;
}

select[multiple], 
select[size] {
    height: auto;
}

input[type="text"]:focus {
	border-color: $yellow;
	box-shadow: inset 0 1px 3px rgba($black, 0.06), 0 0 5px rgba($yellow, 0.7);
    outline: none;
}