@import "breakpoint";
@import "singularitygs";


//////////////////////
// Set up the grid  //
//////////////////////

@include add-grid(12);
@include add-gutter(2/3);
@include add-gutter-style('split');
@include sgs-change ('debug', true);

body {
	background: $light-gray;
}

.l-page {
	background: white;
}

.l-header, .l-footer, .wrapper {
	margin: 0 auto;
	@include clearfix;
}

.l-region--navigation, .l-region--highlighted, .l-region--highlighted, .l-main, .l-branding, .l-region--footer {
	max-width: 1200px;
	margin: 0 auto;
	@include clearfix;
	// @include background-grid;
}

.site-logo {
	@include grid-span(12);
	clear: both;

	@include breakpoint($tab) {
		@include grid-span(6,1);
	}

}

.l-region--branding {
	@include grid-span(6,7);
}

// .l-region--navigation {
// 	@include grid-span(12);
// 	clear: both;
// }

#block-quicktabs-homepage-search-tabs {
	@include grid-span(12); 
	clear: both;
	@include breakpoint($desk) {
		@include grid-span(9,1);
		margin-left: 0;
		margin-right: 0;
	}
}

#block-views-acquisitions-highlights-block-1 {
	@include grid-span(12); 
	clear: both;
	@include breakpoint($desk) {
		@include grid-span(3,10);
		margin-left: 0;
		margin-right: 0;
	}
}

/*
#block-menu-menu-get-help-menu {
	@include grid-span(12, $output-style: 'float'); 
	@include breakpoint($desk) {
		@include grid-span(3, 10, $output-style: 'float'); 
		margin-right: 0;
	}
}
*/

// #block-views-library-news-block-1 {
// 	@include grid-span(12);
// 	clear: both;
// 	@include breakpoint($desk) {
// 		@include grid-span(4,1);
// 		margin-left: 0;
// 	}
// }
// #block-views-library-hours-block-3 {
// 	@include grid-span(12);
// 	@include breakpoint($desk){
// 		@include grid-span(5,5);
// 	}
// }
// aside.l-region--sidebar-second {
// 	@include grid-span(12, $output-style: 'float');
// 	@include breakpoint($desk) {
// 		@include grid-span(3, 10, $output-style: 'float');
// 		margin-right: 0;
// 	}
// }



.l-region--footer {
	clear: both;

	nav, #block-block-1 {
		@include grid-span(12, $output-style: 'float');
		@include breakpoint($desk) {
			@include grid-span(3, $output-style: 'float');
		}
	}

	nav:first-child {
		margin-left: 0;
	}
	.block--block-1 {
		margin-right: 0;
	}
 }

.panel-col-first {
	@include grid-span(6,1);
	clear: both;
}

.panel-col-last {
	@include grid-span(6,7);
}

#libraries-page .panel-col-first {
	@include grid-span(9,1);
}

#libraries-page .panel-col-last {
	@include grid-span(3,10);
}

.l-main {
	padding: 1em;
}