@import "breakpoint";
@import "singularitygs";


//////////////////////
// Set up the grid  //
//////////////////////

@include add-grid(12);
@include add-gutter(2/3);
@include add-gutter-style('split');
@include sgs-change ('debug', true);

body {
	background: $gray-light;
}

.l-page {
	background: $white;
}

.l-header, 
.l-footer, 
.wrapper {
	margin: 0 auto;
	@include clearfix;
}

.l-region--navigation, 
.l-region--highlighted, 
.l-region--highlighted, 
.l-main, 
.l-branding, 
.l-region--footer {
	max-width: 1200px;
	margin: 0 auto;
	@include clearfix;
}

#block-quicktabs-homepage-search-tabs {
	@include grid-span(12); 
	clear: both;
	@include breakpoint($desk) {
		@include grid-span(9,1, $gutter: 0);
		margin-left: 0;
		margin-right: 0;
	}
}

.panel-col-first {
	@include grid-span(6,1);
	clear: both;
}

.panel-col-last {
	@include grid-span(6,7);
}

#libraries-page .panel-col-first {
	@include grid-span(9,1);
}

#libraries-page .panel-col-last {
	@include grid-span(3,10);
}

.l-main {
	padding: 1em;
}