//////////////////////
// Set up the grid  //
//////////////////////

@include add-grid(12);
@include add-gutter(2/3);
@include add-gutter-style('split');
@include sgs-change ('debug', true);

body {
	background: $gray-light;
}

.l-page {
	background: $white;
}

.l-header,
.l-footer,
.wrapper {
	margin: 0 auto;
	@include clearfix;
}

.l-region--navigation,
.l-region--highlighted,
.l-region--highlighted,
.l-main,
.l-branding,
.l-region--footer {
	max-width: 1200px;
	margin: 0 auto;
	@include clearfix;
}

.block--quicktabs-homepage-search-tabs {
	// @include grid-span(12);
	width: 100%;
	margin: 0 auto;
	clear: both;
}

.l-main {
	padding: 1em;
}

.front .l-main {
	@include breakpoint($desk){
		padding: 0;
	}
}

.l-content {
	padding: 0 1em;
	@include breakpoint($tab) {
		padding: 0;
	}
}