@font-face {
  font-family: 'Droid Serif';
  src: url('fonts/Droid_Serif/droidserif-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/Droid_Serif/droidserif-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Droid_Serif/droidserif-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Droid_Serif/droidserif-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Droid_Serif/droidserif-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Droid_Serif/droidserif-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/roboto-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('fonts/Roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/Roboto/roboto-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/Roboto/roboto-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/Roboto/roboto-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/Roboto/roboto-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}