html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
	font-family: $font-sans;
  font-size: em(14);
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-serif;
	font-weight: normal;
}

h1 {
  @include adjust-font-size-to($h1-fz);
  @include rhythm(0, 0, 0, 0, $h1-fz);
}

h2 {
  @include adjust-font-size-to($h2-fz);
  @include rhythm(1, 0, 0, 0.5, $h2-fz);
}

h3 {
  @include adjust-font-size-to($h3-fz);
  @include rhythm(1, 0, 0, 0.5, $h3-fz);
}

h4 {
  @include adjust-font-size-to($h4-fz);
}

h5 {
  @include adjust-font-size-to($h5-fz);
}

h6 {
  @include adjust-font-size-to($h6-fz);
}

p {
  margin: 1.4em 0;
}

h1 {
    @include adjust-font-size-to(2em);
    @include rhythm(0, 0, 0, 0.5, 2em);
}

h2 {
    @include adjust-font-size-to(1.3em);
    @include rhythm(0.75, 0, 0, 0.5, 1.3em);

    a {
        color: $orange-dark;
    }
}

h3 {
    @include adjust-font-size-to(1.1em);
    @include rhythm(0.75, 0, 0, 0.5, 1.1em);
    font-family: $font-sans;
}