html {
    font-size: 14px;
}

body {
    background-color: $gray-lightest;
    font-family: $font-sans;
    font-weight: 400;
    line-height: 1.45;
    color: $gray-darkest;
}

p {
    line-height: 1.643em;
    margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 0.5em;
    font-family: $font-serif;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

small,
.font_small {
    font-size: 0.875em;
}

a:active,
a:focus {
    outline: thin dotted $gray;
}
a:hover {
    text-decoration: underline;
}