// branding
.wrapper--branding {
    background-color: $gray-dark;
    min-height: 50px;
    border-top: 5px solid $orange;

    .site-name {
      display: none;
    }
}

.l-branding {
  h2 {
    margin: 0;
  }

  .homepage-tab-form-message {
    display: none;
  }
}


// non-SVG logo
.site-logo {
    line-height: 21px;
    height: 50px;
    margin-left: -0.7em;

    @include grid-span(12);
    clear: both;

    @include breakpoint($tab) {
        @include grid-span(6,1);
    }

    &:before { /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
    }

    img {
        padding: 0 1em;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;

        @include breakpoint($desk) {
            padding: 0;
            margin: 0;
        }
    }
}

// SVG logo
.svg {
 .site-logo img {
   display: none;
 }
 .site-logo {
   background: url("../svg_icons/compressed/logo.svg") center center no-repeat;
   background-size: contain;
   display: block;

   @include breakpoint($tab) {
    margin-left: 0;
   }
 }
}

.front h1 {
  @include visually-hidden();
}