// readmore collections
.links--inline li {
	float: right;
}

.views-more-link, .node-readmore a, .more-link a {
	font-family: $font-serif;
	font-style: italic;
	font-weight: bold;
	font-size: .833em;
	background: none;
	border: none;
	text-shadow: none;
	background-color: $orange;
	color: #fff;
	padding: 3px 7px;
	text-decoration: none;
	@include border-radius(3px);
	float: right;
}

.ui-widget-content .homepage-tab-form-message a {
	font-family: $font-sans;
	font-weight: bold;
	font-size: .75em;
	background: none;
	border: none;
	text-shadow: none;
	background-color: $dark-gray;
	color: #fff;
	padding: 3px 7px;
	text-decoration: none;
	@include border-radius(3px);
}

.field--name-field-db-access-url.pul-processed {
	text-align: center;
}
.field--name-field-db-access-url.pul-processed a {
	@include button(simple, lighten($orange,5));
	color: white;
	margin-bottom: 0.5em;
}