// .field--name-field-news-featured-graphic {
// 	width: 40%;
// 	float: left;
// 	display: inline-block;
// 	clear: both;
// 	padding: 0 1em 1em 0;
// }

.view-library-news h3 {
	width: 60%;
	display: inline-block;
    @include rhythm(0, 0, 0, 0.5, $h3-fz);
}

.view-library-news .views-row, .view-library-news .view-footer {
	clear: both;
}

.front .field--name-field-news-featured-graphic {
    width: 160px;
    max-height: 100px;
    overflow: hidden;

    display: inline-block;
    padding: 0 1em 1em 0;
    float: left;
    clear: both;

    img {
        width: 100%;
        max-width: 100%;
        height: auto !important;
        // -ms-interpolation-mode: bicubic;
        // display: block;

        // -webkit-transform: rotate(180deg);
        // -moz-transform:    rotate(180deg);
        // -ms-transform:     rotate(180deg);
        // -o-transform:      rotate(180deg);
        // transform:         rotate(180deg);
        // zoom: 1;

        // float: right;
    }
}