.l-footer {
	margin: 2em 0;

	h2 {
		@include adjust-font-size-to(15px);
		@include rhythm(1, 0, 0, 0.5, 15px);

		a {
			color: $dark-orange;
			font-weight: bold;
		}
	}

	.menu {
		.leaf {
			list-style: none;

			a {
				@include adjust-font-size-to(11px);
				@include rhythm(0, 0, 0, 0.5, 11px);
				color: $dark-gray;
			}
		}
	}

}
