.l-footer {
	background-color: $gray-light;
	margin: 2em 0;
	font-size: $font-size-smaller;
}

.l-region--footer {
	clear: both;
	padding: 1em;

	nav, .block--block-1 {
		@include grid-span(12, $output-style: 'float');
		@include breakpoint($tab) {
			@include grid-span(3, $output-style: 'float');
		}
	}

	nav:first-child {
		margin-left: 0;
	}

	.block--block-1 {
		margin-right: 0;
	}

	nav ul {
		display: none;
	}

	@include breakpoint($tab) {
		nav ul {
			display: block;
		}
	}

	address, .footer--copyright, a {
		color: $gray-darkest;
		font-style: normal;
	}
	.footer--copyright {
		margin-top: 0.5em;
	}

	h2, h2 a {
		font-size: 16px;
		margin-bottom: 0.75em;
		font-weight: bold;
		color: $orange-darkest;

		&:hover {
			text-decoration: none;
		}
	}

	.leaf {
		list-style: none;

		a {
			line-height: 1.75em;
		}
	}
}

// SVG logo
.svg {
 .facebook-logo img,
 .twitter-logo img,
 .govdocs-logo img,
 .friends-logo img,
 .pu-logo img {
   display: none;
 }
 .facebook-logo,
 .twitter-logo,
 .govdocs-logo,
 .friends-logo,
 .pu-logo {
   background-size: contain;
   display: inline-block;

   line-height: 11px;
   height: 24px;

   &:before { /* create a full-height inline block pseudo=element */
	    content: ' ';
	    display: inline-block;
	    vertical-align: middle;  /* vertical alignment of the inline element */
	    height: 100%;
    }


   @include breakpoint($tab) {
    margin-left: 0.5em;
   }
 }
 .facebook-logo {
 	background-image: url("../svg_icons/compressed/facebook.svg");
 	width: 24px;
 	margin: 0 0.2em 0.75em;
 }
 .twitter-logo {
 	background-image: url("../svg_icons/compressed/twitter.svg");
 	width: 24px;
 	margin: 0 0.2em 0.75em;
 }
 .govdocs-logo {
 	background-image: url("../svg_icons/compressed/govdocs.svg");
 	width: 24px;
 	margin: 0 0.2em 0.75em;
 }
 .friends-logo {
 	background-image: url("../svg_icons/compressed/friends.svg");
 	width: 85px;
 	margin: 0 0.2em 0.75em;
 }
 .pu-logo {
 	background-image: url("../svg_icons/compressed/pu.svg");
 	width: 142px;
 	height: 40px;
 	margin: 0.5em 0 0;
 }
}
