.l-region--footer {
	clear: both;
	padding: 1em;
	
	nav, #block-block-1 {
		@include grid-span(12, $output-style: 'float');
		@include breakpoint($tab) {
			@include grid-span(3, $output-style: 'float');
		}
	}

	nav:first-child {
		margin-left: 0;
	}
	.block--block-1 {
		margin-right: 0;
	}
 }

 footer {
	background-color: $gray-light;

	address, #university-copyright-footer {
		font-size: $font-size-smaller;
	}

	nav ul {
		display: none;
	}

	@include breakpoint($tab) {
		nav ul {
			display: block;
		}
	}
}

.l-footer {
	margin: 2em 0;

	h2 {
		@include adjust-font-size-to(16px);
		font-weight: bold;
		color: $orange-dark;
	}

	.menu {
		.leaf {
			list-style: none;

			a {
				font-size: $font-size-smaller;
				color: $gray-dark;
			}
		}
	}

	address {
		margin: .5em 0;
	}
}
