.front {
	.pane-library-hours h2.pane-title {
		font-size: 1.4em;
		// margin-top: 0;
		margin-bottom: 1em;
	}
	td {
		font-size: 1.15em;
		// line-height: 1.2em;
		a {
			color: $blue-darkest;

			&:hover {
				color: $blue-darker;
			}
		}
	}
}