.front {
	.pane-menu-menu-get-help-menu h2.pane-title {
		font-size: 1.4em;
		margin-top: 0;
	}
	.pane-menu-menu-get-help-menu a {
		font-size: 1.15em;
		color: $blue-darkest;

		.button--libraryh3lp {
			font-size: 0.8em;
		}
	}
}