// hide summary count for database nav
.summary-count {
    display: none;
}

.float-left {
    float: left;
}

span.icon-article-express--small-after {
  font-size: .75em;
}

span.icon-article-express--small-after:before {
  content: " ";
}

h1.icon-article-express--small-after:after {
  font-size: .75em;
}

//empty library hours show tba 
.single-day {
    .no-entry.future:after {
        content: 'TBA';    
    }
}