.library-hours {
	// table {
	// 	margin: 0;
	// }

	tr.even {
		background: none;
		border-top: 1px solid #ddd;
	}
	tr.odd > td {
		background: $light-gray;
	}
	td {
		padding: 0.5em;
	}
	td.views-field-title {
		width: 60%;
	}
	td.views-field-field-open-hours {
		text-align: right;
	}

	// tr > td:first-child {
	// 	width: 70%;
	// }

	// .library-hours-status {
	// 	width: 40px;
	// }
}

