.library-hours {

	.views-table td {
		font-size: 16px;
	}

	tr.even {
		background: none;
		border-top: 1px solid #ddd;
	}
	tr.odd > td {
		background: $light-gray;
	}
	td {
		padding: 0.5em;

		font-size: 16px;
	}
	td.views-field-title {
		width: 60%;
	}
	td.views-field-field-open-hours {
		text-align: right;
	}
}

.pul_base_nine_three-region--second {
	.view-library-hours .view-header .date-nav-wrapper .date-heading h3 {
		font-size: 1.3em;
		padding: 0 1em;
	}
}