.three_six_three-region--first {
    .expanded.active-trail {
        background: $blue;

        a {
            color: white;
        }

        .menu {
            background: lighten($blue, 40);

            a {
                color: $blue;
            }
        }
    }
}