.pul_base_nine_three-region--second ul,
.three_six_three-region--first ul,
.menu .leaf,
.menu .collapsed,
.menu .expanded {
    list-style: none;
}

.three_six_three-region--middle ul,
.three_six_three_stacked-region--middle ul,
.pul_base_nine_three-region--first ul,
.three_nine-region--second ul,
.three_nine_stacked-region--second ul {
    list-style-type: disc;
    margin-left: 1.4em;
    margin-bottom: 1.4em;

    li {
        margin-bottom: 1em;
    }
}

.three_six_three-region--middle ol,
.three_six_three_stacked-region--middle ol,
.pul_base_nine_three-region--first ol,
.three_nine-region--second ol,
.three_nine_stacked-region--second ol {
    list-style-type: decimal;
    margin-left: 1.4em;
    margin-bottom: 1.4em;

    li {
        margin-bottom: 1em;
    }
}

.page-research-databases-search .pul_base_nine_three-region--first ul {
    margin-left: 0;

    li {
        margin-bottom: 0;
    }
}