.pul_base_nine_three-region--second ul, 
.three_six_three-region--first ul, 
.menu .leaf, 
.menu .collapsed, 
.menu .expanded {
    list-style: none;
}

.three_six_three-region--middle ul {
    list-style-type: disc;
    margin-left: 1.4em;

    li {
        margin-bottom: 1em;
    }
}

.three_six_three-region--middle ol {
    list-style-type: decimal;
    margin-left: 1.4em;

    li {
        margin-bottom: 1em;
    }
}