.l-branding nav ul {
	float: right;
	margin: 5px 0;
	padding: 0;

	li {
		list-style: none;
		display: inline-block;

		a {
			display: block;
			text-decoration: none;
			color: #fff;
			width: auto;
			text-align: center;
			padding: 8px;
			margin: 0 0 0 -4px;
		}
	}
}
