.field--name-field-news-letter-volume,
.field--name-field-news-letter-issue {
    display: inline;
}

.field--name-field-news-letter-pdf {
    margin: 1em 0;
}

img.file-icon {
  margin: 0 0.3em 0 0;
}

.view-library-newsletter-listings caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
