// .view-library-news .field-name-field-news-featured-graphic img {
// float: left;
// margin: 1em .75em .167em 0;
// }

// .pane-library-news .views-row img {
// max-width: 200px;
// height: auto;
// }

.views-field-created {
color: #999;
font-style: italic;
}

.view-library-news .field--name-field-news-featured-graphic img {
float: left;
margin: 0 .75em .167em 0;
margin-bottom: 1em;
}

.pane-library-news .views-row img {
max-width: 200px;
height: auto;
}

.view-library-news .views-row {
padding-bottom: 2em;
}

.item-list li {
list-style: none;
}

// .section-news .field--name-field-news-article-snippet, 
// .section-news .views-row > span, 
// .section-news .views-row .field--type-entityreference {
//     @include grid-span(12);

//     @include breakpoint ($tab) {
//          @include grid-span(9,4);
//         display: inline-block;
//         margin-left: 1em;
//     }
   
// }

.views-field-created {
    margin-bottom: 1em;
}

// .section-news .views-row span, .section-news .views-row .field--type-entityreference {
//     margin-left: 1em;
// }

//alumni news

.five_four_three_stacked-region--bottom .view-id-library_news {
    .views-row-1 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,1);
            margin-left: 0;
        }
    }
    .views-row-2 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,5);
        }
    }
    .views-row-3 {
        @include grid-span(12);

        @include breakpoint($tab){
            @include grid-span(4,9);
            margin-right: 0;
        }
    }

    .field--name-field-news-featured-graphic img {
        margin-bottom: 1em;
    }

    .field--name-field-news-article-snippet {
        clear: both;
    }
}