.front .view-library-news {
    h3 {
        @include rhythm(0, 0, 0, 0, 0.8em);
        @include adjust-font-size-to(1em);
    }
}

.front .field--name-field-news-featured-graphic {
    width:145px;
    height:100px;
    overflow:hidden;

    margin: 0 1em 1.5em 0;
    float: left;

    img {
        width:auto;
        height:100%;
        min-width:145px;
        min-height:100px;
    }
}

.front .view-library-news .views-row {
    padding-bottom: 0;
}

.view-library-news .views-row, .view-library-news .view-footer {
    clear: both;
}