ul.pager {
    display: inline;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        display: none;
        padding: 0;
        margin-bottom: 1em;
        list-style: none;

        &.pager__item--first,
        &.pager__item--previous,
        &.pager__item--current,
        &.pager__item--next,
        &.pager__item--last {
            display: inline-block;
        }

        &.pager__item {
            padding: 0;
        }

        @include breakpoint($tab) {
            display: inline-block;
        }
    }

    li a {
        @include transition(all 0.2s ease-in-out);

        padding: ($base-spacing / 4) 0.75em;
        background: $gray-lightest;
        color: $gray-darkest;
        text-decoration: none;
        border: 1px solid gainsboro;
        border-radius: $base-border-radius;
        outline: none;

        &:hover,
        &:focus {
            background: $white;
            color: $blue;
        }

        &:active {
            background: $white;
            color: $blue;
        }
    }

    li.pager__item--current {
        padding: ($base-spacing / 4) 0.75em;
        background: $white;
        color: $black;
        border: 1px solid gainsboro;
        border-radius: $base-border-radius;
        outline: none;
        font-weight: bold;
    }

    li.date-prev a, li.date-next a {
        background: none;
        border: none;
    }
}