#renovation-news-block {
	#renovation-news-lmg {
		@include clearfix;
		#renovation-news-lmg {
		display: inline-block;
		// float: left;

		// width: 35%;
		}
		p {
			// float: left;
			// width: 65%;
		}

		@include breakpoint($tab) {
			#renovation-news-lmg {
				float: left;
				width: 30%;
			}
		}
	}

	#read-more-renovation {
		display: none;
	}
}