#renovation-news-block {
	#renovation-news-lmg {
		@include clearfix;
		#renovation-news-lmg {
		display: inline-block;
		}
		p {
			margin-top: 0;
		}

		@include breakpoint($tab) {
			#renovation-news-lmg {
				float: left;
				width: 30%;
				margin-right: 1em;
			}
		}
	}

	#read-more-renovation {
		display: none;
	}
}