.block--quicktabs {
	margin: 1.5em 0;
	h2 {
		margin: 0;
		// background: $orange;
		display: none;
	}
	.ui-tabs {
		padding: 0;
		// border: none;
	}
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
		margin-bottom: 0;
		padding-bottom: 0;
		}
	.ui-widget-header {
		@include border-top-left-radius(4px);
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(0);
		@include border-bottom-left-radius(0);
		background: $dark-gray;
		padding: 0;
		border: none;
	}

	.quicktabs-ui-wrapper.qt-ui-tabs-processed-processed.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
		@include border-radius(4px);
		background: darken($light-gray, 3);
		// border: 1px solid #d3d3d3;
		// padding: 5px;
	}
	.ui-tabs .ui-tabs-nav li {
		margin: 0;
		border: none;
		top: 0;

		&:first-child a {
	    	@include border-top-left-radius(4px);
	    }
	}
	.ui-tabs .ui-tabs-nav li a {
		width: 190px;
		text-align: center;
		background: $dark-gray;
		border-right: 1px solid darken($light-gray, 50%);
		color: white;
		@include transition (all 0.2s ease-in-out);
		font-family: $font-sans;

		&:hover {
	      background: lighten(#494f57, 10);
	    }
	}

	.ui-tabs .ui-tabs-nav li.ui-state-active a, .ui-widget-header .ui-state-active {
		background: darken($light-gray, 2%);
		color: black;
	}

	.form-item-query label {
		display: none;
	}
	.form-type-textfield {
		margin-bottom: 0;
	}
	input:focus {
		border-color: $light-orange;
		box-shadow: inset 0 1px 3px rgba(0,0,0, 0.06), 0 0 3px rgba($orange, 0.7);
		outline: none;
	}
	input[type="text"] {
		float: left;
		width: 85%;
		height: 45px;
		padding: 5px 0 5px 10px;
		display: block;
		border: 1px solid #737373;
		font-family: $font-sans;
	}
	.ui-tabs-panel input[type="submit"] {
		font-family: $font-sans;
		height: 45px;
		width: 115px;
		padding: 0;
		margin-left: -7px;
		clear: none;
		float: left;
		border: 1px solid #737373;
		background: $orange;
		@include border-top-right-radius(4px);
		@include border-bottom-right-radius(4px);
		@include border-top-left-radius(0);
		@include border-bottom-left-radius(0);
	}

	.homepage-tab-form-message {
		clear: both;
	}
}