.all-search-results-list {

    margin-bottom: 1em;
    li.even {
        background: none;
        border-top: 1px solid #ddd;
    }
    li.odd {
        background: $light-gray;
    }
    li {
        padding: 0.5em;
        @include adjust-font-size-to(12px);
    }
    li.active {
        background: none;
    }

    h3 {
        @include adjust-font-size-to(16px);
          @include rhythm(0, 0, 0, 0.3, 16px);
    }
}