.front .wrapper--highlighted {
    background: rgba(lighten($gray-dark, 28), 0.75);
    padding: 0;
    background-size: 1600px auto;
    @include breakpoint($tab) {
        background: linear-gradient( rgba(lighten($gray-dark, 28), 0.75), rgba(lighten($gray-dark, 28), 0.75)), /* On top,    like z-index: 4; */
        url(../images/bg-studyroom.jpg) center no-repeat/* like z-index: 3; */
        ;
        background-size: cover;
    }
    .l-region--highlighted {
        padding: 1em;
        position: relative;
        @include breakpoint($tab) {
            padding: 3em 1em;
        }
    }
}

.block--views-spotlight-dispalsys-block {
    @include grid-span(12);
    clear: both;
    display: none;
    @include breakpoint($desk) {
        @include grid-span(3, 10);
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
}

.pane-spotlight-dispalsys {
    height: 215px;
    $hover-tile-height: 215px;
    img {
        height: 215px;
        width: 350px;
    }
}

.block--views-spotlight-dispalsys-block {
    background: rgba($gray-dark, .65);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 159px;
    padding: 0;
    border-radius: 4px;
    h2 {
        display: none;
    }
    a {
        font-size: $font-size-base;
        font-family: $font-sans;
        margin: 0;
        color: $white;
    }
    img {
        width: 260px;
        height: 159px;
    }
    .view-spotlight-dispalsys .views-row-1 {
        border-radius: 4px;
    }
}

.block--pudl-highlight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1em;
    text-align: center;
    display: none;
    @include grid-span(12);
    background: rgba($gray-dark, .35);
    padding: 0.5em;
    @include breakpoint($tab) {
        display: block;
        @include grid-span(3, 11);
        margin-right: 0;
    }
    @include breakpoint($desk) {
        display: block;
        @include grid-span(2, 11);
        margin-right: 0;
    }
    a {
        font-size: $font-size-smaller;
        font-family: $font-sans;
        margin: 0;
        color: $white;
        text-align: center;
        .icon-newtab {
            margin-right: 0.5em;
        }
    }
}

//spotlight gray mask
.block--views-spotlight-dispalsys-block {
    $hover-tile-height: 159px;
    margin-bottom: $base-line-height;
    cursor: pointer;
    .view-content .views-row {
        height: $hover-tile-height;
        overflow: hidden;
        position: relative;
    }
    .spotlight-container {
        @include transition(all, .2s ease-in-out);
        background: inherit;
        color: $white;
        height: inherit;
    }
    .spotlight-image {
        color: transparentize($white, .3);
        font-size: $font-size-larger;
        font-weight: 200;
        padding: 0;
        text-align: center;
        border-radius: 4px;
        img {
            border-radius: 4px;
        }
    }
    .spotlight-text a {
        position: absolute;
        top: 0;
        // width: 100%;
        height: 100%;
        padding: 0.5em 0.75em;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        font-weight: bold;
        text-shadow: 2px 2px $black;
        background-image: linear-gradient(rgba($gray-dark, 0.95), rgba($gray-dark, 0.5));
    }
}
