.front .wrapper--highlighted {
    background: rgba(lighten($gray-dark, 28), 0.75);
    padding: 0;
    background-size: 1600px auto;

    @include breakpoint($tab) {
        background: 
    linear-gradient(
      rgba(lighten($gray-dark, 28), 0.75), 
      rgba(lighten($gray-dark, 28), 0.75)
    ),  /* On top,    like z-index: 4; */
    url(../images/bg-test.jpg) center no-repeat   /* like z-index: 3; */
   ;             
    }

    .l-region--highlighted {
        padding: 1em 0;
        position: relative;

        @include breakpoint($tab) {
            padding: 4em 0;
        }
    }
}

#block-views-spotlight-dispalsys-block {
    @include grid-span(12); 
    clear: both;
    display: none;
    @include breakpoint($desk) {
        @include grid-span(3,10);
        margin-left: 0;
        margin-right: 0;
        display: block;
    }
}

#block-views-spotlight-dispalsys-block {
    background: rgba($gray-dark,.65);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    height: 159px;
    padding: 0;
    @include border-radius(4px);

    h2 {
        display: none;
    }
    a {
        font-size: $font-size-base;
        font-family: $font-sans;
        margin: 0;
        color: white;
    }

    img {
        width: 260px;
        height: 159px;
    }

    .view-spotlight-dispalsys .views-row-1 {
      @include border-radius(4px);
    }
}

.block--pudl-highlight {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1em;
    text-align: center;

    display: none;
    @include grid-span(12); 
    background: rgba($gray-dark, .35);
    padding: 0.5em;

    @include breakpoint($tab) {
        display: block;
        @include grid-span(3,11);
        margin-right: 0;
    }

    @include breakpoint($desk) {
      display: block;
      @include grid-span(2,11);
      margin-right: 0;
    }

    a {
        font-size: $font-size-smaller;
        font-family: $font-sans;
        margin: 0;
        color: white;
        text-align: center;

        .icon-newtab {
            margin-right: 0.5em;
        }
    }
}

#block-views-spotlight-dispalsys-block {
  $hover-tile-height: 159px;
  margin-bottom: $base-line-height;
  cursor: pointer;

  .view-content .views-row {
    height: $hover-tile-height;
    overflow: hidden;
    position: relative;
  }

  .views-field {
    @include transition(all, .2s ease-in-out);
    background:inherit;
    color: white;
    height:inherit;
    padding: 0.5em 0.7em;
  }

  .views-field-field-image-new-item {
    color: transparentize(white, .3);
    font-size: $font-size-larger;
    font-weight: 200;  
    padding: 0;
    text-align: center;
    @include border-radius(4px);

    img {
        @include border-radius(4px);
    }
  }

  .views-field-title {
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    @include border-top-right-radius(4px);
    @include border-top-left-radius(4px);
    background: rgba($gray-dark, .85);
  }
}
