//workgroup view

.view-workgroup .views-row {
    padding: 1em;
    clear: both;
    min-height: 130px;

    &.views-row-odd {
        background: $gray-light;
    }

    .float-left {
        float: left;
        margin: 0 1em 1em 0;
    }

    .float-left:empty {
        display: none;
    }
}