.views-table {
    th {
        background: $dark-gray;
        color: white;
        padding: 0.5em;

        a {
            color: white;
            margin-right: 0.5em;
        }
    }
    tr.even {
        background: none;
        border-top: 1px solid #ddd;
    }
    tr.odd > td {
        background: $light-gray;
    }
    td {
        padding: 0.5em;
        @include adjust-font-size-to(12px);
    }
    td.active {
        background: none;
    }

    //hide database desciptions
    .databases-find-description p, .databases-find-description span {
        display: none;
    }

    .find-databases-show-desc {
        float: right;
    }
}