.field--name-field-ip-db-copyright-info table,
.field--name-field-db-copyright-information table,
.field--name-field-cas-db-copyright-statement table {
    th {
        background: $gray-dark;
        color: $white;
        padding: 0.5em;
    }
    td {
        vertical-align: top;
        border-bottom: none;
        padding-top: 1em;

        ul {
            margin-left: 1.5em;
        }

        li {
            list-style: disc;
            margin-bottom: 1em;
        }
    }
}
.field--name-field-db-copyright-information p {
    margin: 1em 0 2em;
}