.views-table {
    th {
        background: $gray-dark;
        color: $white;
        padding: 0.5em;

        a {
            color: $white;
            margin-right: 0.5em;
        }

        img {
            padding-left: 1em;
        }
    }
    tr.even {
        background: none;
        border-top: 1px solid #ddd;
    }
    tr.odd > td {
        background: $gray-light;
    }
    td {
        padding: 0.5em;
        // @include adjust-font-size-to(12px);
    }
    td.active {
        background: none;
    }

    .find-databases-show-desc {
        float: right;
    }
}

fieldset {
    background: none;
}

table caption {
    // @include adjust-font-size-to(1.3em);
    // @include rhythm(0.75, 0, 0, 0.5, 1.3em);
    text-align: left;
}

.section-services .three_six_three-region--middle table td {
    padding: 1em;
}

/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/

@include breakpoint($rwd-tables) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        @include visually-hidden();
    }

    tr { border-bottom: 1px solid #ccc; }

    tr.odd {
        background: $gray-lightest;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
}