h1 {
    @include adjust-font-size-to(2em);
    @include rhythm(0, 0, 0, 0.5, 2em);
}

h2 {
    @include adjust-font-size-to(1.3em);
    @include rhythm(0.75, 0, 0, 0.5, 1.3em);

    a {
        color: $dark-orange;
    }
}

h3 {
    @include adjust-font-size-to(1.1em);
    @include rhythm(0.75, 0, 0, 0.5, 1.1em);
    font-family: $font-sans;
}

.pul_base_nine_three-region--second h2 {
    @include adjust-font-size-to(1.3em);
    @include rhythm(0.75, 0, 0, 0.5, 1.3em);
}

//hack hide aka titles for db
.subject-landing-page .views-row .field--name-field-dboverride-database article header {
    display: none;
}