/*******************************************************************************
 * landingpage.layout.scss
 *
 * Styling of the "Landing Page" 3 column layout..
 ******************************************************************************/

.panel-display--landingpage {
  @include clearfix;
}

.landingpage-region {
  margin-bottom: $vert-spacing-unit;
}

@include breakpoint($tab) {
  .landingpage-region--first {
    @include grid-span(9,1);
    clear: both;
    margin-left: 0;
  }
   .landingpage-region--second {
    @include grid-span(3,10);
    margin-right: 0;
  }

  .landingpage-region--third {
    @include grid-span(4, 1);
    clear: both;
    margin-left: 0;
  }

  .landingpage-region--fourth {
    @include grid-span(5, 5);
  }

  .landingpage-region--fifth {
    @include grid-span(3, 10);
    margin-right: 0;
  }

}

